footer.footer
    .container
        .row.justify-content-between
            .col-12.col-md-6
                a.d-flex.align-items-center.justify-content-between.mailChimpInput.cursor-pointer(href='https://heyzine.com/flip-book/7b1d67ea1d.html#page/1', target='_blank')
                    span.colorGreen.fontBold(data-lang-type='label', data-lang='footer.newsletterSubscribe')
                        | Ir
                        | a catálogo de productos
                    span.fas.fa-arrow-right
            .col-12.col-md-6.mt-5.mt-md-0.d-flex.justify-content-center.justify-content-md-end.align-items-center
                a.socialIcon.no-icon-after(href='#', target='_blank', title='Eco Estrategia Peruana on Instagram')
                    span.fa-stack.fa-lg
                        i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                        i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                        em.fab.fa-linkedin-in.fa-stack-1x.socialIcon--hover-colorInvert
                a.socialIcon.no-icon-after(href='https://www.instagram.com/ecoestrategiaperuanabio', target='_blank', title='Eco Estrategia Peruana on Instagram')
                    span.fa-stack.fa-lg
                        i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                        i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                        em.fab.fa-instagram.fa-stack-1x.socialIcon--hover-colorInvert
                a.socialIcon.no-icon-after(href='https://www.facebook.com/Eco-Estrategia-Peruana-Envases-Biodegradables-104009832235626', target='_blank', title='Eco Estrategia Peruana on Instagram')
                    span.fa-stack.fa-lg
                        i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                        i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                        em.fab.fa-facebook-f.fa-stack-1x.socialIcon--hover-colorInvert
                a.socialIcon.no-icon-after(href='#', target='_blank', title='Eco Estrategia Peruana on Instagram')
                    span.fa-stack.fa-lg
                        i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                        i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                        em.fab.fa-twitter.fa-stack-1x.socialIcon--hover-colorInvert
                a.socialIcon.no-icon-after(href='https://t.me/ecoestrategiaperuana', target='_blank', title='Eco Estrategia Peruana on Instagram')
                    span.fa-stack.fa-lg
                        i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                        i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                        em.fab.fa-telegram.fa-stack-1x.socialIcon--hover-colorInvert
        hr.hrLine.my-4.my-md-5
        .row.d-block.d-lg-none
            .col-12
                h3.text-center(data-lang-type='label', data-lang='footer.contactUs') Contactenos
        .row
            .col-auto.col-lg-4.mb-0.mb-lg-1.mx-auto.mx-lg-0
                .pb-2.pb-lg-4.pr-5.mx-auto.mx-sm-0
                    .row.mb-3
                        .col-12.d-none.d-lg-flex
                            h3(data-lang-type='label', data-lang='footer.contactUs') Contactenos
                    .row.footer__contact-row.text-noWrap
                        .col-12.d-flex.align-items-start
                            span.socialIcon.ml-0
                                span.fa-stack.fa-lg(aria-hidden='true')
                                    i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                                    i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                                    i.fal.fa-map-pin.fa-stack-1x.socialIcon--hover-colorInvert
                            p.pl-2(data-lang-type='content', data-lang='footer.address')
                                | Av. Tomas Marsano
                                | 4666
                                br
                                .
                                    Santiago de Surco
                                br
                                .
                                    Perú;
                    .row.footer__contact-row.text-noWrap
                        .col-12.d-flex.align-items-start
                            span.socialIcon.ml-0
                                span.fa-stack.fa-lg(aria-hidden='true')
                                    i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                                    i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                                    i.fal.fa-warehouse.fa-stack-1x.socialIcon--hover-colorInvert
                            p.pl-2(data-lang-type='content', data-lang='footer.address')
                                | Av. Ate, G-16 (Urb.
                                | La Merced)
                                br
                                .
                                    Ate Vitarte
                                br
                                .
                                    Perú;
                    .row.footer__contact-row.text-noWrap.my-4
                        .col-12.vertical-align
                            span.socialIcon.ml-0
                                span.fa-stack.fa-lg(aria-hidden='true')
                                    | Text
                                    i.fal.fa-circle.fa-stack-2x.socialIcon--hover-show Italic
                                    i.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                                    i.fal.fa-phone.fa-stack-1x.socialIcon--hover-colorInvert(data-fa-transform='flip-h')
                            p.pl-2(data-lang-type='content', data-lang='footer.phone') +51 952 526 242
                    .row.footer__contact-row.text-noWrap
                        .col-12.vertical-align
                            span.socialIcon.ml-0
                                span.fa-stack.fa-lg(aria-hidden='true')
                                    em.fal.fa-circle.fa-stack-2x.socialIcon--hover-show
                                    em.fa.fa-circle.fa-stack-2x.socialIcon--hover-hide
                                    em.fal.fa-envelope.fa-stack-1x.socialIcon--hover-colorInvert
                            p.pl-2
                                a.no-icon-after.colorWhite(href='mailto:contacto@ecoestrategiaperuana.com', data-lang-type='content', data-lang='footer.email') contacto@ecoestrategiaperuana.com
            .col-12.d-block.d-lg-none
                hr.hrLine.mb-5
            .col-12.col-lg-7.offset-md-1.offset-lg-2.footer__links-area
                .row.w-100
                    .col-12.col-md-4.col-lg-4.text-center.text-md-left.mb-3.mb-md-0
                        h3.footer__subheading.mb-4 PRODUCTOS
                        ul.footer__link-set.m-0.p-0
                            li
                                a.no-icon-after(href='#') Envases biodegradables
                            li
                                a.no-icon-after(href='#') Bowls de bambú
                            li
                                a.no-icon-after(href='#') Salseros biodegradables
                            li
                                a.no-icon-after(href='#') Bolsas de papel Kraft
                            li
                                a.no-icon-after(href='#') Cubiertos biodegradables
                            li
                                a.no-icon-after(href='#') Vasos bebidas calientes
                            li
                                a.no-icon-after(href='#') Vasos bebidas frutas
                            li
                                a.no-icon-after(href='#') Sorbetes biodegradables
                    .col-12.col-md-4.col-lg-4.text-center.text-md-left.mb-3.mb-md-0
                        h3.footer__subheading.mb-4 RECURSOS
                        ul.footer__link-set.m-0.p-0
                            li
                                a.no-icon-after(href='#') Hojas informativas
                            li
                                a.no-icon-after(href='#') Preguntas frecuentes
                    .col-12.col-md-4.col-lg-4.text-center.text-md-left.mb-3.mb-md-0
                        h3.footer__subheading.mb-4 COMPAÑÍA
                        ul.footer__link-set.m-0.p-0
                            li
                                a.no-icon-after(href='#') Nuestro equipo
                            li
                                a.no-icon-after(href='#') Bowls de bambú
                            li
                                a.no-icon-after(href='#') Políticas de privacidad y cookies
                            li
                                a.no-icon-after(href='#') Términos y condiciones
                            li
                                a.no-icon-after(href='#') Pedidos en linea
        hr.hrLine.my-1.my-md-4
        .row
            .col-12.text-center
                a(href='index.html')
                    img.img-logo-menu(src='../assets/img/logo_oscuro.svg')