include configurations.pug 
doctype html
html(lang="en")
    include templates/head.pug
        title #{empresa}: Envases Biodegradables Perú
        //- script (async src="js/popUp.js")
        script(async src="js/mobile.js") 
        script(async src="js/product.js")
        script(src="js/reutilizables.js")
        link(rel="stylesheet", href="css/slider/swiper-i-b.min.css")
        
        include templates/script.pug
    body
        //- Google tag manager start here (noscript)
        noscript
                iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-W9F6BWW", height="0", width="0", style="display:none;visibility:hidden") 
        //- Google tag manager end here (noscript)
        //- Social Buttom (personal) start here
        include templates/social-buttom.pug
        //- Social Buttom (personal) end here
        //-Header start here
        include templates/header.pug
        //-Header end here
        //-Main start here
        //-Main end here
        script(src="js/slider/swiper-i-b.min.js")
        //-script(async src="js/swiper.js")
        //-script(async src="js/popUp.js")
        script(async src="js/mobile.js")
        script(async src="js/product.js")
        script(src="js/reutilizables.js")
        script(src="js/index.js")
