include configurations.pug
include mixins.pug
doctype doctype html
html(lang="en")
    include templates/head.pug
        title Salseros biodegradables
        include templates/script.pug
    body 
        //-Social Buttom (personal) start here
        include templates/social-buttom.pug
        //-Social Buttom (personal) end here
        //-Header start here
        include templates/header.pug
        //-Header end here
        //-Main start here
        .productos__container
            .productos__container--list
                .productos__container--list--title
                    h2 CATEGORIAS
                .productos__container--list--m
                    +productsListCategory('productos__container--list--0 productos__container--list--slsbio--0', 'lineCategory', 'productos__container--list--a--0', 'envases-biodegradables.html', 'images/icons/envases_biodegradable.svg', 'Envases biodegradables', 'Envases biodegradables')
                    +productsListCategory('productos__container--list--1 productos__container--list--slsbio--1', 'lineCategory', 'productos__container--list--a--1', 'bowls-bambu.html', 'images/icons/bowl_bambu.svg', 'Bowls de bambú', 'Bowls de bambú')
                    +productsListCategory('productos__container--list--2 productos__container--list--slsbio--2', 'lineCategory', 'productos__container--list--a--2', 'cubiertos-biodegradables.html', 'images/icons/cubiertos_biodegradables.svg', 'Cubiertos biodegradables', 'Cubiertos biodegradables')
                    +productsListCategory('productos__container--list--3 productos__container--list--slsbio--3', 'lineCategory lineCategory--3', 'productos__container--list--a--3', 'salseros-biodegradables.html', 'images/icons/salsero_biodegradable.svg', 'Salseros biodegradables', 'Salseros biodegradables')
                    +productsListCategory('productos__container--list--4 productos__container--list--slsbio--4', 'lineCategory', 'productos__container--list--a--4', 'bolsas-papel-kraft.html', 'images/icons/bolsas_kraft.svg', 'Bolsas de papel kraft', 'Bolsas de papel kraft')
                    +productsListCategory('productos__container--list--5 productos__container--list--slsbio--5', 'lineCategory', 'productos__container--list--a--5', 'platos-biodegradables.html', 'images/icons/plato_biodegradable.svg', 'Platos biodegradables', 'Platos biodegradables')
                    +productsListCategory('productos__container--list--6 productos__container--list--slsbio--6', 'lineCategory', 'productos__container--list--a--6', 'bandejas-descartables.html', 'images/icons/bandejas_descartable.svg', 'Bandejas descartables', 'Bandejas descartables')
                    +productsListCategory('productos__container--list--7 productos__container--list--slsbio--7', 'lineCategory', 'productos__container--list--a--7', 'sorbetes-biodegradables.html', 'images/icons/sorbete_biodegradable.svg', 'Sorbetes biodegradables', 'Sorbetes biodegradables')
                    +productsListCategory('productos__container--list--8 productos__container--list--slsbio--8', 'lineCategory', 'productos__container--list--a--8', 'vasos-bebida-fria.html', 'images/icons/vasos_bebida_fria.svg', 'Vasos para bebidas frías', 'Vasos para bebidas frías')
                    +productsListCategory('productos__container--list--9 productos__container--list--slsbio--9', 'lineCategory', 'productos__container--list--a--9', 'vasos-bebida-caliente.html', 'images/icons/vasos_bebida_caliente.svg', 'Vasos para bebidas calientes', 'Vasos para bebidas calientes')
            .productos__container--products
                .productos__container--products--description
                    img(src="", alt="")
                    .productos__container--products--description--text
                        h2 Salseros biodegradables
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit doloribus, aliquam voluptas sit nesciunt ipsa dolorem laborum quisquam voluptate maxime! Neque aut nam illo rerum sequi unde architecto deleniti ea.
                .productos__container--products--description__container
                    .productos__container--products--description__container-t
                        h2 Salseros biodegradables
                        p p Envases blancos de doble pared nuevos a estrenar. Elegante por excelencia. Clásicos modernos.
                    .productos__container--products--description__container-l
                        +productsList('products__list--slsbio0', 'images/productos/envases_biodegradables/EP001.png', 'Salseros biodegradables de caña de azúcar 2oz con tapa', 'CODE: EP-02', 'Stock disponible', 'products__list--p-b__slsbio0', 'S/. 34.20')
                        hr.line.line__products--list
                        +productsList('products__list--slsbio1', 'images/productos/envases_biodegradables/EP001.png', 'Salseros biodegradables de fécula de maíz 2oz con tapa', 'CODE: EPLA-2', 'Stock disponible', 'products__list--p-b__slsbio1', 'S/. 31.50')
                        hr.line.line__products--list
                        +productsList('products__list--slsbio2', 'images/productos/envases_biodegradables/EP001.png', 'Salseros biodegradables de fécula de maíz 4oz con tapa', 'CODE: EPLA-4', 'Stock disponible', 'products__list--p-b__slsbio2', 'S/. 34.50')
        //-Main end here
        //- Footer start here
        include templates/footer.pug
        //- Footer end here