include configurations.pug
include mixins.pug
doctype doctype html
html(lang="en")
    include templates/head.pug
        title Vasos para bebidas calientes
        include templates/script.pug
    body 
        //-Social Buttom (personal) start here
        include templates/social-buttom.pug
        //-Social Buttom (personal) end here
        //-Header start here
        include templates/header.pug
        //-Header end here
        //-Main start here
        .productos__container
            .productos__container--list
                .productos__container--list--title
                    h2 CATEGORIAS
                .productos__container--list--m
                    +productsListCategory('productos__container--list--0 productos__container--list--vsbdcl--0', 'lineCategory', 'productos__container--list--a--0', 'envases-biodegradables.html', 'images/icons/envases_biodegradable.svg', 'Envases biodegradables', 'Envases biodegradables')
                    +productsListCategory('productos__container--list--1 productos__container--list--vsbdcl--1', 'lineCategory', 'productos__container--list--a--1', 'bowls-bambu.html', 'images/icons/bowl_bambu.svg', 'Bowls de bambú', 'Bowls de bambú')
                    +productsListCategory('productos__container--list--2 productos__container--list--vsbdcl--2', 'lineCategory', 'productos__container--list--a--2', 'cubiertos-biodegradables.html', 'images/icons/cubiertos_biodegradables.svg', 'Cubiertos biodegradables', 'Cubiertos biodegradables')
                    +productsListCategory('productos__container--list--3 productos__container--list--vsbdcl--3', 'lineCategory', 'productos__container--list--a--3', 'salseros-biodegradables.html', 'images/icons/salsero_biodegradable.svg', 'Salseros biodegradables', 'Salseros biodegradables')
                    +productsListCategory('productos__container--list--4 productos__container--list--vsbdcl--4', 'lineCategory', 'productos__container--list--a--4', 'bolsas-papel-kraft.html', 'images/icons/bolsas_kraft.svg', 'Bolsas de papel kraft', 'Bolsas de papel kraft')
                    +productsListCategory('productos__container--list--5 productos__container--list--vsbdcl--5', 'lineCategory', 'productos__container--list--a--5', 'platos-biodegradables.html', 'images/icons/plato_biodegradable.svg', 'Platos biodegradables', 'Platos biodegradables')
                    +productsListCategory('productos__container--list--6 productos__container--list--vsbdcl--6', 'lineCategory', 'productos__container--list--a--6', 'bandejas-descartables.html', 'images/icons/bandejas_descartable.svg', 'Bandejas descartables', 'Bandejas descartables')
                    +productsListCategory('productos__container--list--7 productos__container--list--vsbdcl--7', 'lineCategory', 'productos__container--list--a--7', 'sorbetes-biodegradables.html', 'images/icons/sorbete_biodegradable.svg', 'Sorbetes biodegradables', 'Sorbetes biodegradables')
                    +productsListCategory('productos__container--list--8 productos__container--list--vsbdcl--8', 'lineCategory', 'productos__container--list--a--8', 'vasos-bebida-fria.html', 'images/icons/vasos_bebida_fria.svg', 'Vasos para bebidas frías', 'Vasos para bebidas frías')
                    +productsListCategory('productos__container--list--9 productos__container--list--vsbdcl--9', 'lineCategory lineCategory--9', 'productos__container--list--a--9', 'vasos-bebida-caliente.html', 'images/icons/vasos_bebida_caliente.svg', 'Vasos para bebidas calientes', 'Vasos para bebidas calientes')
            .productos__container--products
                .productos__container--products--description
                    img(src="", alt="")
                    .productos__container--products--description--text
                        h2 Vasos para bebidas calientes
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit doloribus, aliquam voluptas sit nesciunt ipsa dolorem laborum quisquam voluptate maxime! Neque aut nam illo rerum sequi unde architecto deleniti ea.
                .productos__container--products--description__container
                    .productos__container--products--description__container-t
                        h2 Vasos para bebidas calientes
                        p p Envases blancos de doble pared nuevos a estrenar. Elegante por excelencia. Clásicos modernos.
                    .productos__container--products--description__container-l
                        +productsList('products__list--vsbdcl0', 'images/productos/envases_biodegradables/EP001.png', 'Vasos para café biodegradables de bambú 10oz', 'CODE: EP-B10', 'Stock disponible', 'products__list--p-b__vsbdcl0', 'S/. 57.20')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl1', 'images/productos/envases_biodegradables/EP001.png', 'Vasos para café biodegradables de bambú 14oz', 'CODE: EP-B14', 'Stock disponible', 'products__list--p-b__vsbdcl1', 'S/. 72.40')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl2', 'images/productos/envases_biodegradables/EP001.png', 'Vasos para café biodegradables de bambú 16oz', 'CODE: EP-B16', 'Stock disponible', 'products__list--p-b__vsbdcl2', 'S/. 68.30')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl3', 'images/productos/envases_biodegradables/EP001.png', 'Vasos corrugado para café biodegradables 8oz', 'CODE: EP-BC8', 'Stock disponible', 'products__list--p-b__vsbdcl3', 'S/. 78.20')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl4', 'images/productos/envases_biodegradables/EP001.png', 'Vasos corrugado para café biodegradables 12oz', 'CODE: EP-BC12', 'Stock disponible', 'products__list--p-b__vsbdcl4', 'S/. 92.40')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl5', 'images/productos/envases_biodegradables/EP001.png', 'Vasos para café biodegradables de caña de azúcar 8oz', 'CODE: EP-80', 'Stock disponible', 'products__list--p-b__vsbdcl5', 'S/. 32.00')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl6', 'images/productos/envases_biodegradables/EP001.png', 'Vasos de cartón biodegradables para café 8oz', 'CODE: EP-LC8', 'Stock disponible', 'products__list--p-b__vsbdcl6', 'S/. 65.30')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl7', 'images/productos/envases_biodegradables/EP001.png', 'Vasos de cartón biodegradables para café 12oz', 'CODE: EP-LC12', 'Stock disponible', 'products__list--p-b__vsbdcl7', 'S/. 82.00')
                        hr.line.line__products--list
                        +productsList('products__list--vsbdcl8', 'images/productos/envases_biodegradables/EP001.png', 'Vasos de cartón biodegradables para café 16oz', 'CODE: EP-LC16', 'Stock disponible', 'products__list--p-b__vsbdcl8', 'S/. 55.40')