.small, small {
    font-size: 80%;
    font-weight: 400;
}

.fa-arrow-right:before {
    content: "\f061";
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.pl-2, .px-2 {
    padding-left: 0.5rem!important;
}
