/* TODO Header start here */
/*.htop {
    margin-bottom: 1rem;
}*/
.header {
	position: fixed;
	background-color: $secondary-color;
	top: 0;
	z-index: 99;
	width: 100%;
	margin: auto;
}
.m-width-1460 {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}
.banner__img {
	width: 100%;
	height: auto;
}
.htop__container {
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: 3fr 1fr;
	gap: 1rem;
	margin-top: 0.3rem;
	margin-bottom: 0rem;
}
.h__logo--left {
	img {
		width: 240px;
	}
}
.h-right {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}
.h__contact {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
}
.h__contact--container {
	display: grid;
	grid-template-columns: auto auto;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.tel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
}
.mail {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
}

.circle-base {
	border-radius: 50%;
	border: 1px solid transparent;
	height: 40px;
	width: 40px;
	background-color: $secondary-color;
	justify-content: center;
	align-items: center;
	display: flex;
	.fa {
		color: $primary-color;
		font-size: 15pt;
	}
	.fa-regular {
		color: $primary-color;
		font-size: 15pt;
	}
  i {
		&:hover {
			color: $secondary-color;
		}
	}
}
.circle-secondary {
	width: 35px;
	height: 35px;
	text-align: center;
	justify-content: center;
	align-items: center;
	display: flex;
	&:hover {
		background-color: $primary-color;
	}
}

.circle__base--border {
	margin-right: 8px;
	border: 1px solid $primary-color !important;
	&:hover {
		border: 1px solid transparent !important;
	}
}
.tel--date {
	text-align: left;
	display: grid;
	grid-template-rows: 1fr 1fr;
	label {
		font-size: 15pt;
		font-weight: 500;
		font-family: $title-font;
		margin-bottom: -10px;
		font-size: 14pt;
	}
	a {
		color: $third-color;
		font-family: $text-font;
		font-size: 10.5pt;
		letter-spacing: 0.8px;
	}
}
.mail--date {
	text-align: left;
	display: grid;
	grid-template-rows: 1fr 1fr;
	label {
		font-size: 15pt;
		font-weight: 500;
		font-family: $title-font;
		margin-bottom: -10px;
		font-size: 14pt;
	}
	a {
		color: $third-color;
		font-family: $text-font;
		font-size: 10.5pt;
		letter-spacing: 0.8px;
	}
}
.h__logo--right {
	width: 200px;
	img {
		width: auto;
		height: auto;
	}
}
.header-box {
	background-color: $primary-color;
	width: 100%;
	height: 70px;
}
.nav-box {
	display: grid;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.h__container--menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	li {
		margin-top: 1rem;
		height: 70px;
		&:hover {
			>ul {
				opacity: 1;
				visibility: visible;
				-webkit-transition: 0.3s ease-in-out;
				transition: 0.3s ease-in-out;
			}
		}
	}
}
.h__our {
	margin-left: 1rem;
}
.header__container--menu--list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
}
.header__container--menu--list--li--a {
	display: flex;
	align-items: center;
	gap: 0.2rem;
	font-size: 15pt;
	color: $secondary-color;
	font-family: $principal-font;
	em {
		font-style: unset;
	}
}
.header__container--menu--list--li--button {
	img {
		width: 16px;
		height: 16px;
	}
}
.header__container--menu--list--li--subList {
	display: grid;
	justify-content: center;
	align-items: center;
	width: 17.5rem;
	height: 46.4rem;
	background-color: $primary-color;
	position: absolute;
	margin-top: 15px;
	margin-right: 55rem;
	visibility: hidden;
	transition: 0.3s ease-in-out;
	border-radius: 0 0 10% 10%;
	img {
		width: 40px;
		height: 40px;
		margin-left: 15px;
	}
	svg {
		margin-left: -0.5rem;
	}
}
.header__container--menu--list--li--subList--left--container {
	display: grid;
	grid-template-columns: 0.3fr 01fr;
	align-items: center;
	justify-content: center;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
	row-gap: 0.2rem;
	margin-top: 15px;
	margin-bottom: 15px;
	color: $secondary-color;
	font-family: $title-font;
}
.header__container--menu--list--li--subList--right--container {
	display: grid;
	grid-template-columns: 0.3fr 01fr;
	align-items: center;
	justify-content: center;
	grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
	row-gap: 0.2rem;
	margin-top: 15px;
	margin-bottom: 15px;
	color: $secondary-color;
	font-family: $title-font;
}
.h__m--list--1 {
	svg {
		width: 3.5rem;
		height: 2rem;
		margin-left: -0.7rem;
	}
}
.h__m--list--2 {
	svg {
		width: 3rem;
		height: 2rem;
	}
}
.h__m--list--3 {
	svg {
		width: 3.5rem;
		height: 2rem;
	}
}
.h__m--list--4 {
	svg {
		width: 3rem;
		height: 2rem;
	}
}
.h__m--list--5 {
	svg {
		width: 3.5rem;
		height: 2rem;
	}
}
.h__m--list--6 {
	svg {
		width: 3rem;
		height: 2rem;
	}
}
.h__m--list--7 {
	svg {
		width: 3.5rem;
		height: 2rem;
		margin-left: -0.7rem;
	}
}
.h__m--list--8 {
	svg {
		width: 3rem;
		height: 2rem;
	}
}
.h__m--list--9 {
	svg {
		width: 3.5rem;
		height: 2rem;
	}
}
.h__m--list--10 {
	svg {
		width: 3rem;
		height: 2rem;
	}
}
.header__container--menu--list--li--subList--left--container--text {
	margin-right: -0.5rem;
}
.header__container--menu--list--li--subList--right--container--text {
	margin-right: -0.5rem;
}
.unset {
	height: unset !important;
}
.menu {
	display: none;
}


@media screen and (max-width: 1250px) {

  .header {

    &__container {

      &--menu {

        &--list {

          &--li {

            &--fourth {
              display: none;
            }

            &--subList {
              right: 130px;
            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: 1152px) {

  .header {

    &__container {

      &--menu {

        &--list {

          column-gap: 35px;

          &--li {

            &--a {
              font-size: 17.5px;
            }

            &--subList {
              right: 100px;
            }

            &--button {
              padding: 9px 23px;
              font-size: 19.5px;
              column-gap: 10px;

              img {
                width: 18px;
                height: 20px;
              }

            }


          }

        }

      }

    }

  }

}

@media screen and (max-width: 1024px) {

  .header {
    padding: 0;

    &__container {
      display: none;
    }
  }

  .menu {

    width: 100%;
    background-color: $color-blanco;
    position: fixed;
    padding: 0 30px 15px;
    display: flex;
    flex-direction: column;
    top: auto;
    z-index: 111;

    &__container {

      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 15px;
    
      &--burger {
        cursor: pointer;

        img {
          width: 29px;
          height: 26px;
        }

      }

      &--slide {
        position: fixed;
        right: -100%;
        width: 100%;  
        height: 100%;
        top: 5rem;
        background-color: $color-blanco;
        transition: all .4s ease;
        padding: 15px 2.25rem 2.30rem;

        &--active {
          right: 0;
        }

        &--main {
          display: grid;
          row-gap: 30px;

          a {
            display: flex;
            align-items: center;
            column-gap: 12px;
            font-size: 18px;
            letter-spacing: 0.01rem;

            i {
              color: $color-icon-movil;
              font-size: 27px;
            }

            span {
              color: $color-icon-movil;
              font-size: 20px;
            }

          }

          &--item {

            &--display {
              display: block;
            }

            position: relative;
            z-index: 88;

            input {
              display: none;
            }

            label {
              display: flex;
              align-items: center;
              column-gap: 12px;
              cursor: pointer;
              transition: all .4s ease;
              color: $color-icon-movil;
              font-size: 18px;
              letter-spacing: 0.01rem;
              justify-content: space-between;

              
              div {
                display: flex;
                align-items: center;
                column-gap: 11px;

                i {
                  color: $color-icon-movil;
                  font-size: 27px;
                }
  
                span {
                  color: $color-icon-movil;
                  font-size: 20px;
                }
              }
            
            }

            &--content {
              display: grid;
              grid-template-columns: 1fr 1fr;
              row-gap: 15px;
              max-height: 0;
              overflow: hidden;
              transition: all .4s ease;

              a {
                padding-left: 30px;
                margin-top: 15px;

                p {
                  color: $color-icon-movil;
                }
              }

              &--imgOne {
                width: 64px;
              }
              &--imgTwo {
                width: 65px;
              }
              &--imgThree {
                width: 40px;
                margin: 0 14px 0 12px;
              }
              &--imgFour {
                width: 51px;
                margin: 0 8px 0 8px;
              }
              &--imgFive {
                width: 56px;
                margin: 0 7px 0 6px;
              }
              &--imgSix {
                width: 48px;
                margin: 0 12px 0 9px;
              }
              &--imgSeven {
                width: 36px;
                margin: 0 19px 0 15px;
              }
              &--imgEight {
                width: 38px;
                margin: 0 17px 0 16px;
              }

            }

            &--our {
              margin-left: 0px;
            }
            &--blog {
              padding-left: 8.5px;
            }
            &--questions {
              padding-left: 15px;
            }

          }

        }

        &--main .active {

          i {
            color: $color-verde;
          }

          span {
            color: $color-verde;
            font-weight: 600;
          }
        }

      }

    }

  }

  .menu__container--slide--main--item input:checked ~ .menu__container--slide--main--item--content {
    max-height: 100vh;
    margin-top: 15px;
  }


  .menu__container--slide--main--item input:checked ~ .menu__container--slide--main--item--label > i,
  .menu__container--slide--main--item input:checked ~ .menu__container--slide--main--item--label,
  .menu__container--slide--main--item input:checked ~ .menu__container--slide--main--item--label > div i,
  .menu__container--slide--main--item input:checked ~ .menu__container--slide--main--item--label > div span{
    color: $color-verde;
    font-weight: 600;
    transition: all .4s ease;
  }

  .menu--arrow {
    font-size: 25px;
  }

}

@media screen and (max-width: 768px) {

  .menu {

    &__container {

      &--slide {

        &--main {

          a {
            font-size: 17px;
          }

          &--item {

            &--content {

              a {
                padding-left: 0;
                line-height: 26px;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: 550px) {

  .menu {

    padding: 0 15px 15px;

    &__container {

      &--slide {
        top: 6.2rem;
        padding: 15px 25px 0;

        &--main {

          a {

            i {
              font-size: 24px;
            }

            span {
              font-size: 18px;
            }

          }

          &--item {

            label {

              div {

                i {
                  font-size: 24px;
                }

                span {
                  font-size: 18px;
                }

              }

            }

            &--blog {
              padding-left: 7.5px;
            }

            &--questions {
              padding-left: 13px;
            }

            &--content {

              a {
                font-size: 16px;
              }

              &--imgOne {
                width: 60px;
                height: 48px;
              }
              &--imgTwo {
                width: 60px;
                height: 48px;
              }
              &--imgSix {
                width: 43px;
                height: 48px;
              }
              &--imgSeven {
                width: 32px;
                height: 48px;
              }
            }

          }

        }

      }

    }

  }

}

@media screen and (max-width: 465px) {

  .menu {

    padding: 0 15px 15px;

    &__container {

      &--logo {
        picture {
          img {
            width: 270px;
            height: 54px;
          }
        }
      }

      &--slide {
        padding: 15px 15px 0;

        &--main {
          row-gap: 25px;

          a {
            column-gap: 7px;
          }

          &--item {
            
            &--content {

              grid-template-columns: 1fr;
              margin-left: 25px;

              &--third {
                display: none !important;
              }
              &--fourth {
                display: none !important;
              }
              &--fifth {
                display: none !important;
              }
              &--eighth {
                display: none !important;
              }

              &--button {
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 8px;
                padding: 8.5px 0;
                background-color: $color-verde;
                border-radius: 6px;
                margin-top: 2px;

                img {
                  width: 25px;
                  margin-right: 2px;
                  padding-top: 4px;
                }

                p {
                  font-size: 17.5px;
                  color: $color-blanco !important;
                  font-weight: 600;
                  letter-spacing: 0.01rem;
                }
              }

            }

            &--home {
              padding-left: 6px;
            }
            &--our {
              padding-left: 6px;
            }
            &--blog {
              padding-left: 9px;
            }
            &--questions {
              padding-left: 19px;
            }

          }
          
          &--question {
            display: none !important;
          }

          &--quote {
            background-color: $color-verde;
            color: $color-blanco;
            padding: 11px 0;
            display: grid;
            justify-content: center;
            justify-items: center;
            align-items: center;
            border-radius: 6px;
            column-gap: 10px !important;
            
            img {
              width: 16px;
              height: 18px;
            }
            
            p {
              font-size: 17.5px;
              font-weight: 600;
              letter-spacing: 0.02rem;
            }

          }



        }

      }

    }

  }

  .menu__container--slide--main--item input:checked ~ .menu__container--slide--main--item--content {
    margin-top: 7px;
  }

  .menu--arrow {
    font-size: 20px;
  }


}

@media screen and (max-width: 443px) {

  .menu {

    &__container {

      &--burger {

        img {
          width: 29px;
          height: 26px;
        }

      }

    }

  }

}

@media screen and (max-width: 425px) {

  .menu {

    &__container {

      &--logo {
        
        img {
          width: 243px;
          height: 49px;
        }

      }

    }

  }

}

@media screen and (max-width: 425px) {

  .menu {

    &__container {

      &--slide {
        top: 6.2rem;
      }

    }

  }

}

@media screen and (max-width: 412px) {
  .header{
    display: none;
  }
}

@media screen and (max-width: 375px) {

  .menu {

    &__container {

      &--slide {

        &--main {

          &--item {

            &--content {

              margin-left: 15px;

            }
          }

        }

      }

    }

  }

} 
