.hover {
  margin: 109px 42px 0;

  &__container  {

    display: grid;
    grid-template-columns: 1fr 1fr;
    
    justify-content: center;
    gap: 48px;

    &--left {
      display: block;

      &--sticky {
        position: sticky;
        top: 120px;
      }

      &--breadcrumb {
        display: flex;
        margin-bottom: 23px;

        &--list {

          &--link {
            font-family: $fuente2;
            font-size: 16px;
            letter-spacing: 0.02rem;
            font-weight: 400;
            color: $color-titulo;

            &--active {
              font-weight: 700;
              color: $color-verde;
            }
          }

        }

        &--list:not(:last-of-type):after {
          content: "/";
          margin: 0 6px 0 3px;
        }

      }

      &--special {
        display: flex;
        align-items: center;
        gap: 38px;
      }

      &--hover {
        display: grid;
        gap: 20px;

        &--img {
          border: solid $color-blanco;

          img {
            width: 117px;
            height: auto;            
          }
        }

      }


    }

    &--right {
      margin-top: 8px;

      &--delivery {
        font-family: $fuente1;
        color: $color-verde;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        letter-spacing: 0.01rem;

        span {
          padding: 3px 5px;
          color: $color-blanco;
          background-color: $color-verde;
          padding-left: 6px;
          border-radius: 4px;
        }
      }

      &--title {
        font-family: $fuente1;
        font-weight: 700;
        color: $color-titulo;
        font-size: 32px;
        line-height: 46px;
        margin: 15px 0 12px;
      }

      &--stars {
        img {
          filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
        }
      }

      &--sellers {
        display: flex;
        align-items: center;
        gap: 15px;
        margin: 18px 0 15px;

        &--best {
          font-family: $fuente1;
          font-size: 18px;
          line-height: 25px;
          color: $color-blanco;
          background-color: $color-verde;
          border-radius: 4px;
          padding: 4px 7px;
          font-weight: 600;
        }

        &--page {
          font-family: $fuente1;
          font-size: 18px;
          color: $color-verde;
          line-height: 25px;
          font-weight: 600;
        }

      }

      &--business {
        font-family: $fuente2;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        color: $color-titulo;

        a {
          text-decoration-line: underline;
          color: $color-verde;
        }

      }

      &--null {
        font-family: $fuente1;
        font-size: 22px;
        line-height: 30px;
        text-decoration-line: line-through;
        color: #737373;
        font-weight: 400;
        margin-top: 15px;
      }

      &--price {
        font-family: $fuente1;
        font-weight: 600;
        font-size: 30px;
        line-height: 41px;
        color: $color-verde;
        margin-bottom: 15px;

        span {
          color: $color-titulo;
          font-size: 18px;
          line-height: 25px;
          font-weight: 400;
        }

      }

      &--button {
        display: inline-flex;
        align-items: center;
        gap: 10px;
        background-color: $color-verde;
        border-radius: 4px;
        padding: 8px 18px;
        transition: all 0.3s ease-in-out;
        border: 2px solid $color-verde;

        &--img {

          i {
            font-size: 20px;
            color: $color-blanco;
          }
        }

        &--text {
          font-family: $fuente1;
          color: $color-blanco;
          font-size: 20px;
          line-height: 26px;
          letter-spacing: 0.02rem;
          font-weight: 600;
        }

      }

      &--button:hover {
        background-color: $color-blanco;

        span {
          i {
            color: $color-verde;
          }
        }

        p {
          color: $color-verde;
        }

      }

      &--shipping {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 25px 0;

        &--icon {
          filter: drop-shadow(0px 0.5px 0.5px rgba(0,0,0,0.25));
          width: 40px;
          height: auto;
        }

        &--text {
          font-family: $fuente2;
          font-size: 18px;
          line-height: 21px;
          color: $color-titulo;
        }

      }

      &--info {
        font-family: $fuente2;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: $color-titulo;

        span {
          padding-right: 12px;
          font-weight: inherit;
          color: $color-verde;
          font-size: 15px;
        }

        a {
          color: $color-verde;
          font-weight: 700;
          letter-spacing: 0.02rem;
        }

        a:hover {
          text-decoration-line: underline;
        }

        &--one {
          margin-bottom: 15px;
        }

      }

    }

  }

}

.hover__container--left--hover--img {
  img {
    // border-radius: 4px;
    margin-bottom: -3.5px;
    border-radius: 4px;
  }
}
.hover__container--left--hover--img--active {
  border-color: $color-verde;
  border-radius: 4px;
  
  img {
    border-radius: 0px;
  }

  // transition: all ease-in-out .2s;
}

// .activito{
//   border: 2px solid black;
//   border-color: rgb(21, 212, 37);
//   transition: 2s;
// }

.hover__container--left--hover picture:hover{
  border-color: $color-verde;
  transition: ease-in-out .3s;
}

.hover__container--left--hover picture img {
  cursor: pointer;
}

// Product Details Faq
.faq__container--product {
  margin: 60px 0;
  width: 100%;
}
.faq__container--item--product {
  margin-right: 42px;
}
.faq__container--item--content--product {
  font-family: $fuente2;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.02rem;
  color: $color-titulo;
  strong {
    color: $color-verde;
  }
}
.faq__container--item--product--title {
  font-size: 22px;
}

.faq__container--item--content--padding {
  padding-left: 23px;
}

.faq__container--item--content--product--li {
  list-style: initial;
  line-height: 34px;

  span {
    color: $color-titulo;
    font-weight: 700;
  }

  strong {
    color: $color-titulo;
  }
}

.faq__container--item--content--product--li::marker {
  font-size: 18px;
  color: $color-verde;
}

.faq__container--item--content--product--li:last-child {
  margin-bottom: 40px;
}

.faq__container--item--content--product--left {
  margin: 0 0 10px -20px;
}

.faq__container--item--content--product--li {
  strong {
    color: $color-verde;
  }
}

// Product Details Info
.products__info--product {
  width: 68%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}

.relacionados--product--title {
  font-size: 26px;
  letter-spacing: 0.02rem;
  color: $color-titulo;
  font-weight: 700;

  strong {
    color: $color-verde;
  }

}

.form--title--product {
  font-size: 26px;
}

.hover__container--left--img {

  img {
    border-radius: 22px;
    box-shadow: 0px 0.5px 6px rgb(0 0 0 / 25%);
  }

}

.related__products__subtitle {
  font-weight: 600;
}

.form--text--product {
  strong {
    color: $color-verde;
  }
}

@media screen and (max-width: 1366px) {

  .products__info--product {
    width: 72%;
  }

}

@media screen and (max-width: 1280px) {

  .hover__container--left--breadcrumb--list--link {
    font-size: 15px;
  }

}

@media screen and (max-width: 1024px) {

  .hover__container {
    grid-template-columns: 1fr;
  }

  .hover__container--left--breadcrumb {
    justify-content: center;
    flex-wrap: wrap;
    line-height: 26px;
  }
  .hover__container--left--breadcrumb--list--link {
    font-size: 17px;
  }
  .hover__container--left--special {
    display: grid;
    justify-items: center;
  }
  .hover__container--left--hover {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    order: 2;
  }
  .hover__container--left--hover--img {

    img {
      width: auto;
      height: auto;
    }

  }

  .hover__container--left--img {
    order: 1;
  }

  // Product Details Info
  .products__info--product {
    width: 94%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .relacionados--product {
    margin-top: 60px;
  }
  .form--space--product {
    margin-top: 60px;
  }

  .hover {
    margin: 92px 42px 0;
  }

}

@media screen and (max-width: 768px) {

  .hover__container--right--title {
    font-size: 26px;
    margin: 12px 0;
  }
}

@media screen and (max-width: 450px) {

  .hover {
    margin: 92px 15px 0;
  }
  .hover__container  {
    gap: 24px;
  }
  .hover__container--left--breadcrumb {
    line-height: 23px;
  }
  .hover__container--left--hover--img--four {
    img {
      display: none;
    }
  }
  .hover__container--left--breadcrumb--list--link {
    font-size: 16px;
  }
  .hover__container--left--special {
    gap: 25px;
  }
  .hover__container--left--hover {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
  }
  .hover__container--right--title {
    font-size: 24px;
    line-height: 38px;
  }
  .hover__container--right--sellers {
    gap: 8px;
  }
  .hover__container--right--sellers--best {
    font-size: 15.5px;
  }
  .hover__container--right--sellers--page {
    font-size: 16px;
    padding: 3px 6px;
  }
  .hover__container--right--null {
    font-size: 21px;
  }
  .hover__container--right--price {
    font-size: 28px;

    span {
      font-size: 17px;
    }

  }
  .hover__container--right--button {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding: 7px 18px;
  }
  .hover__container--right--button--text {
    font-size: 19px;
  }
  .hover__container--right--button--img i {
    font-size: 19px;
  }
  .hover__container--right--shipping--text {
    font-size: 17px;
  }
  .hover__container--right--info {
    font-size: 17px;
  }
  .faq__container--product {
    padding: 0;
  }
  .faq__container--item--product {
    margin-right: 5px;
  }
  .hover__container--right--delivery {
    font-size: 19px;
  }
  .faq__container--item--product--title {
    font-size: 20px;
  }
  .relacionados--product--title {
    font-size: 20px;
    line-height: 29px;
    margin: 15px 0 0px 0;
  }

} 

@media screen and (max-width: 411px) {

  .hover__container--right--sellers--best {
    font-size: 15px;
  }

  .hover__container--right--sellers--page {
    font-size: 15.5px;
  }
  .hover__container--right--info {
    font-size: 16.5px;
  }
  .faq__container--item--product--title {
    font-size: 19px;
  }

}

@media screen and (max-width: 388px) {
  .hover__container--right--sellers {
    gap: 5px;
  }
  .hover__container--right--sellers--page {
    font-size: 14px;
  }
  .hover__container--right--shipping--text {
    font-size: 16px;
    line-height: 22px;
    margin-right: 5px;
  }
  .hover__container--right--info {
    font-size: 16px;
  }
  .hover__container--right--sellers--best {
    font-size: 14px;
  }
  .hover__container--right--info {
    font-size: 15px;
  }
}

@media screen and (max-width: 367px) {
  .hover__container--right--sellers--page {
    font-size: 13.5px;
  }
  .hover__container--right--info {
    font-size: 14.5px;
  }
}