.licence {
  margin-top: 7.5rem;
  display: grid;
  justify-items: center;

  &--title {
    text-align: center;
    padding-bottom: 25px;
    font-size: 32px;
    color: $color-titulo;
    letter-spacing: 0.02rem;
  }

  &--text {
    font-family: $fuente2;
    text-align: center;
    letter-spacing: 0.02rem;
    font-size: 18px;
    color: $color-titulo;
    line-height: 31px;
    padding-bottom: 5px;
  }

  &--img {

    img {
      width: 750px;
      padding-top: 35px;
    }

  }

}

@media screen and (max-width: 1152px) {

  .licence {
  
    &--title {
      font-size: 30px;
    }
  
    &--text {
      font-size: 17px;
      padding: 5px 185px;
    }
  
    &--img {
  
      img {
        width: 650px;
      }
  
    }
  
  }

}

@media screen and (max-width: 1024px) {

  .licence {
    margin-top: 7rem;
  
    &--title {
      font-size: 28px;
    }
  
    &--text {
      font-size: 17px;
      padding: 5px 111px;
    }
  
    &--img {
  
      img {
        width: 600px;
      }
  
    }
  
  }

}

@media screen and (max-width: 465px) {

  .licence {
    margin-top: 5.5rem;
  
    &--title {
      font-size: 24px;
      padding: 0 30px 7px;
      line-height: 28px;
    }
  
    &--text {
      font-size: 16px;
      padding: 5px 12px;
    }
  
    &--img {
  
      img {
        width: 400px;
        padding-top: 25px;
      }
  
    }
  
  }

}

@media screen and (max-width: 425px) {

  .licence {
    margin-top: 5rem;
  
    &--title {
      font-size: 24px;
      padding: 0 30px 7px;
      line-height: 28px;
    }
  
    &--text {
      font-size: 16px;
      padding: 5px 26px 7px;
    }
  
    &--img {
  
      img {
        width: 400px;
        padding-top: 25px;
      }
  
    }
  
  }

}

@media screen and (max-width: 375px) {

  .licence {
  
    &--title {
      font-size: 22px;
      padding: 0 30px 7px;
      line-height: 28px;
    }
  
    &--text {
      padding: 5px 13px 7px;
    }
  
    &--img {
  
      img {
        width: 380px;
      }
  
    }
  
  }

}