.notification {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: $color-verde;
    padding: 3.5px 0;

    &--text {
        font-family: $fuente1;
        color: $color-blanco;
        font-weight: 600;
        font-size: 15px;
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    
    .notification {

        &--text {
            font-size: 13px;
            // padding: 0 15px;
            // line-height: 18px;
        }

    }

}

@media screen and (max-width: 420px) {

    .notification {

        &--text {
            font-size: 12px;
            padding: 0 60px;
            line-height: 15px;
        }

    }

}

@media screen and (max-width: 385px) {

    .notification {

        &--text {
            font-size: 12px;
            padding: 0 33px;
            line-height: 15px;
        }

    }

}