.personalize {
  
  width: 100%;
  margin: auto;
  display: grid;
  justify-items: center;
  margin-bottom: 4rem;

  &--title {
    padding: 0 404px 12px;
    @extend .subtitle;

    strong {
      color: $color-verde
    }

  }

  &--text {
    @extend .subtext;
  }

  &__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    justify-content: center;
    margin-top: 35px;
    column-gap: 45px;

    &--group {

      display: grid;
      justify-items: center;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
      border-radius: 22px;
      width: 360px;

      &--imgOne {

        img {
          width: 196px;
          height: 270px;
        }

      }
      &--imgTwo {
        img {
          width: 307px;
          height: 204px;
        }
      }
      &--imgThree {
        img {
          width: 232px;
          height: 191px;
        }
      }

      &--title {
        font-family: $fuente1;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        letter-spacing: 0.02rem;
        color: $color-titulo;
        font-weight: 600;
        margin-top: 27px;
        padding: 0 18px;
      }

      &--titleTwo {
        padding: 0 0;
      }

      &--stars {
        filter: drop-shadow(0 2px 2px rgba(0,0,0,0.25));;
        margin-top: 12px;
        width: 164px;
        height: 30px;
      }

      &--text {
        font-family: $fuente2;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02rem;
        color: $color-titulo;
        margin-top: 15px;

        span {
          color: $color-verde;
          font-weight: 600;
        }

      }

      &--button {

        display: flex;
        align-items: center;
        column-gap: 12px;
        margin-top: 15px;

        &--icon {
          width: 43px;
          height: 43px;
        }

        &--text {
          @extend .personalize__container--group--text;
          color: $color-verde;
          font-weight: 600;
          margin-top: 0;
        }

        /* &--icon {

        } */

      }

    }

    &--groupOne {
      padding: 11px 0 20px;
    }
    &--groupTwo {
      padding: 65px 0 20px;
    }
    &--groupThree {
      padding: 69px 0 20px;
    }

  }

  &__button {
    @extend .cta;

    img {
      height: 19px;
    }
  }

}

@media screen and (max-width: 1280px) {

  .personalize {

    &--title {
      padding: 0 324px 12px;
    }

  }

}

@media screen and (max-width: 1200px) {

  .personalize {

    &--title {
      font-size: 30px;
      padding: 0 256px 12px;
    }

    &__container {

      column-gap: 25px;

      /* &--group {



      } */

    }

  }

}

@media screen and (max-width: 1152px) {

  .personalize {

    &__container {

      &--group {

        width: 340px;

        &--title {
          padding: 0 8px;
        }

        &--titleTwo {
          padding: 0 0;
        }

      }

    }

  }

}

@media screen and (max-width: 1090px) {

  .personalize {

    &--title {
      padding: 0 249px 12px;
    }

    &__container {
      column-gap: 22px;

      &--group {

        width: 320px;

        &--title {
          padding: 0 0;
        }

        &--titleTwo {
          padding: 0 0;
        }

      }

    }

  }

}

@media screen and (max-width: 1024px) {

  .personalize {

    &--title {
      padding: 0 216px 12px;
    }

    &__container {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 45px;
      row-gap: 45px;

      &--group {

        width: 350px;

        &--title {
          padding: 0 13px;
        }

        &--titleTwo {
          padding: 0 0;
        }

      }

    }
  }
}

@media screen and (max-width: 834px) {

  .personalize {

    &--title {
      font-size: 28px;
      padding: 0 140px 12px;
    }

    &--text {
      padding: 0 147px;

      &--second {
        display: none;
      }

    }

  }

}

@media screen and (max-width: 768px) {

  .personalize {

    &--title {
      padding: 0 107px 12px;
    }

    &--text {
      padding: 0 130px;
    }

    &__container {

      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 40px;

    }

  }

}

@media screen and (max-width: 550px) {

  .personalize {

    &--title {
      font-size: 24px;
      line-height: 38px;
      padding: 0 37px 12px;
    }

    &--text {
      font-size: 17px;
      padding: 0 48px;
    }

    &__container {

      &--group {

        width: 340px;

        &--title {
          font-size: 19px;
          padding: 0 16px;
        }

        &--titleTwo {
          font-size: 19px;
          padding: 0 0;
        }

        &--stars {
          width: 150px;
        }

      }

    }

    &__button {
      padding: 7px 16px;

      img {
        width: 17px;
      }

      p {
        font-size: 18px;
      }

    }

  }

}

@media screen and (max-width: 465px) {

  .personalize {

    &--title {
      font-size: 22px;
      line-height: 36px;
      padding: 0 14px 12px;
    }

    &--text {
      font-size: 16px;
      padding: 0 42px;
    }

    &__container {

      &--group {

        &--title {
          font-size: 18px;
          padding: 0 24px;
        }

        &--titleTwo {
          font-size: 18px;
          padding: 0 0;
        }

        &--text {
          font-size: 17px;

          span {
            font-size: 18px;
          }

        }

        &--button {

          &--text {
            font-size: 17.5px;
          }

          &--icon {
            width: 40px;
          }

        }

      }

    }

    &__button {
      padding: 9px 20px;

      img {
        width: 18px;
      }

      p {
        font-size: 18.5px;
      }

    }

  }

}

@media screen and (max-width: 425px) {

  .personalize {

    &--title {
      font-size: 21px;
      line-height: 34px;
      padding: 0 3px 12px;
    }

    &--text {
      padding: 0 22px;
    }

    &__button {
      padding: 8px 20px;

      img {
        width: 17px;
      }

      p {
        font-size: 18px;
      }

    }

  }

}

@media screen and (max-width: 406px) {

  .personalize {

    &--title {
      font-size: 20px;
      padding: 0 4px 12px;
    }

    &--text {
      padding: 0 12px;
    }

  }

}

@media screen and (max-width: 390px) {

  .personalize {

    &--title {
      font-size: 20px;
      padding: 0 14px 12px;
    }

    &--text {
      padding: 0 12px;
    }

  }

}

@media screen and (max-width: 375px) {

  .personalize {

    &--title {
      font-size: 20px;
      padding: 0 0px 12px;
    }

    &--text {
      padding: 0 0px;
    }

    &__container {

      &--group {

        width: 325px;

      }

    }

    &__button {
      padding: 8px 20px;

      img {
        width: 15px;
        margin-right: 10px;
      }

      p {
        font-size: 17px;
      }

    }

  }

}