/* ----------------------------------------- FAQ SECTION ----------------------------------------- */
.faq--title {
  font-size: 28px;
  line-height: 148.8%;
  letter-spacing: 0.02rem;
  color: $color-titulo;
  text-align: center;
  margin: 25px 0 20px;
}

.faq--text {
  font-family: $fuente2;
  font-size: 18px;
  line-height: 148.8%;
  letter-spacing: 0.02rem;
  color: $color-texto;
  text-align: center;
}

.faq--subtext {
  margin-top: 12px;
}

.faq__container {
  width: 65%;
  margin: auto;
  margin-top: 37px;
}

.faq__container--item  {
  margin-bottom: 40px;
  position: relative;
  z-index: 25;
}

.faq__container--item label {
  color: $color-texto;
  font-size: 20px;
  letter-spacing: 0.02rem;
  line-height: 148.8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-bottom: 25px;
}

.faq__container--item label:hover {
  color: $color-principal;
}

.faq__container--item label {
  font-weight: 600;
}

.faq__container--item input:checked ~ label {
  color: $color-principal;
  font-weight: 600;
}

.faq__container--item label img{
  width: 24px;
  display: block;
}

.faq__container--item input ~ label .icon-active {
  display: none;
}
.faq__container--item input:checked ~ label .icon-disabled {
  display: none;
}
.faq__container--item input:checked ~ label .icon-active {
  display: block;
}

.faq__container--item input:checked ~ .faq__container--item--content{
  max-height: 100vh;
}

.faq__container--item--content {
  font-family: $fuente2;
  color: #37474F;
  line-height: 175.8%;
  letter-spacing: 0.02rem;
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  border-bottom: 1px solid $color-texto;
}

.faq__container--item--content p {
  margin-bottom: 40px;
}

input[type="radio"],
input[type="checkbox"]{
  display: none;
}

.underline__faq {
  position: absolute;
  height: 1.4px;
  width: 100%;
  bottom: 0;
}

.underline__faq::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: $color-principal;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.4s ease;
}

.faq__container--item input:checked ~ .underline__faq:before {
  transform: scaleX(1);
}

@media screen and (max-width: 1280px) {
  /* -------------------- FAQ -------------------- */
    .faq--title {
      font-size: 26px;
  }
}

@media screen and (max-width: 1152px) {
  /* -------------------- FAQ -------------------- */
    .faq__container  {
      width: 70%;
    }
    .faq--title {
        font-size: 24px;
    }
}

@media screen and (max-width: 1024px) {
  /* -------------------- FAQ -------------------- */
    .faq--title {
      font-size: 22px;
    }

    .faq--text {
        font-size: 17px;
    }

    .faq__container  {
        width: 75%;
    }

    .faq__container--item label {
        font-size: 19px;
    }
}

@media screen and (max-width: 834px) {
  /* -------------------- FAQ -------------------- */
    .faq--title {
      font-size: 24px;
    }

    .faq--text {
        padding: 0 91px;
        line-height: 188.1%;
    }

    .faq__container {
        width: 78%;
    }

    .faq__container--item label img {
        width: 22px;
    }

    .faq__container--item label {
        font-size: 18px;
    }
}

@media screen and (max-width: 475px) {
  /* -------------------- FAQ -------------------- */
    .faq--title {
      font-size: 20px;
  }

  .faq--text {
      padding: 0 8px;
      font-size: 16px;
  }

  .faq__container {
      width: 100%;
      padding: 0 30px;
  }

  .faq__container--item label {
      font-size: 16px;
      line-height: 185.8%;
  }

  .faq__container--item--content p,
  .faq__container--item--content li {
      font-size: 16px;
  }

  .faq__container--item label img {
      width: 20px;
  }
}

@media screen and (max-width: 425px) {
  .faq--text {
    padding: 0 16px ;
  }
}

@media screen and (max-width: 375px) {
  /* -------------------- FAQ -------------------- */
    .faq {
      margin: 0;
  }

  .faq--title {
      font-size: 18px;
  }

  .faq--text {
      font-size: 14.5px;
  }

  .faq__container {
      margin-top: 25px;
  }

  .faq__container--item label {
      font-size: 15.5px;
  }

  .faq__container--item label span {
      padding-right: 18px;
  }

  .faq__container--item--content p 
  .faq__container--item--content li{
      font-size: 14px;
  }
}

@media screen and (max-width: 360px) {
  .faq {
    margin: 0;
  }
}