/* --------------- GLIDER CSS --------------- */
.glider,.glider-contain{margin:0 auto;position:relative}.glider,.glider-track{transform:translateZ(0)}.glider-dot,.glider-next,.glider-prev{border:0;padding:0;user-select:none;outline:0}.glider-contain{width:100%}.glider{overflow-y:hidden;-webkit-overflow-scrolling:touch;-ms-overflow-style:none}.glider-track{width:100%;margin:0;padding:0;display:flex;z-index:1}.glider.draggable{user-select:none;cursor:-webkit-grab;cursor:grab}.glider.draggable .glider-slide img{user-select:none;pointer-events:none}.glider.drag{cursor:-webkit-grabbing;cursor:grabbing}.glider-slide{user-select:none;justify-content:center;align-content:center;width:100%;min-width:150px}.glider-slide img{max-width:100%}.glider::-webkit-scrollbar{opacity:0;height:0}.glider-next,.glider-prev{position:absolute;background:0 0;z-index:2;font-size:40px;text-decoration:none;left:-23px;top:30%;cursor:pointer;color:#666;opacity:1;line-height:1;transition:opacity .5s cubic-bezier(.17,.67,.83,.67),color .5s cubic-bezier(.17,.67,.83,.67)}.glider-next:focus,.glider-next:hover,.glider-prev:focus,.glider-prev:hover{color:#ccc}.glider-next{right:-23px;left:auto}.glider-next.disabled,.glider-prev.disabled{opacity:.25;color:#666;cursor:default}.glider-hide{opacity:0}.glider-dots{user-select:none;display:flex;flex-wrap:wrap;justify-content:center;margin:0 auto;padding:0}.glider-dot{display:block;cursor:pointer;color:#ccc;border-radius:999px;background:#ccc;width:12px;height:12px;margin:7px}.glider-dot:focus,.glider-dot:hover{background:#ddd}.glider-dot.active{background:#a89cc8}@media(max-width:36em){.glider::-webkit-scrollbar{opacity:1;-webkit-appearance:none;width:7px;height:3px}.glider::-webkit-scrollbar-thumb{opacity:1;border-radius:99px;background-color:rgba(156,156,156,.25);-webkit-box-shadow:0 0 1px rgba(255,255,255,.25);box-shadow:0 0 1px rgba(255,255,255,.25)}}

.testimonials {
  padding: 0 60px;
  // margin-top: 120px;
  @extend .space;
}

.testimonials__container {
  position: relative;
  margin-top: 45px;
}

.testimonials__container--carousel {
  overflow: hidden;
}

.testimonials__container--previous, 
.testimonials__container--after {
  position: absolute;
  display: block;
  width: 38px;
  border: none;
  top: 45%;
  cursor: pointer;
  line-height: 0px;
  text-align: center;
  background: none;
  outline: none;
}

.testimonials__container--previous {
  left: -50px;
  z-index: 55;
}
.testimonials__container--after {
  right: -50px;
  z-index: 55;
}

.testimonials__container--previous img, 
.testimonials__container--after img {
  width: 38px;
  height: 39px;
}

.testimonials--title {
  font-size: 28px;
  letter-spacing: 0.02rem;
  color: $color-titulo;
  text-align: center;
  line-height: 148.8%;
  margin-bottom: 25px;
}

.testimonials--title strong {
  color: $color-principal;
}

.testimonials--text {
  font-family: $fuente2;
  font-size: 18px;
  color: #37474F;
  letter-spacing: 0.02rem;
  line-height: 192.8%;
  text-align: center;
  padding: 0 359px;

  strong {
    color: $color-verde;
  }

}

.testimonials__container--carousel--slide {
  display: grid;
  justify-items: center;
  padding: 45.33px 0;
  box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 30%);
  border-radius: 40px;
}


.glider-track {
  column-gap: 25px;
  z-index: 55;
  padding: 12px;
}

.glider-dot {
  display: block;
  width: 15px;
  height: 15px;
  background-color: $color-principal;
  opacity: .3;
}

.glider-dot:hover {
  opacity: .5;
  background-color: $color-principal;
}

.glider-dot.active {
  opacity: 1;
  background-color: $color-principal;
}

.testimonials__container--carousel--slide picture img {
  width: 95px;
  height: 97px;
  margin-bottom: 25px;
}

.testimonials__container--carousel--slide img {
  width: 173px;
  height: 38px;
  margin-bottom: 25px;
}

.testimonials__container--carousel--slide--testimonial {
  font-family: $fuente2;
  font-size: 16px;
  letter-spacing: 0.02rem;
  line-height: 207.8%;
  color: #37474F;
  text-align: center;
  margin-bottom: 20px;
}

.testimonials__container--carousel--slide--one {
  padding: 0 17px;
}
.testimonials__container--carousel--slide--two {
  padding: 0 13px;
}
.testimonials__container--carousel--slide--three {
  padding: 0 17px;
}
.testimonials__container--carousel--slide--four {
  padding: 0 36px;
}
.testimonials__container--carousel--slide--five {
  padding: 0 25px;
}
.testimonials__container--carousel--slide--six {
  padding: 0 22px;
}
.testimonials__container--carousel--slide--seven {
  padding: 0 20px;
}
.testimonials__container--carousel--slide--eight {
  padding: 0 41px;
}
.testimonials__container--carousel--slide--nine {
  padding: 0 29px;
}

.testimonials__container--carousel--slide--name {
  font-size: 18px;
  line-height: 148.8%;
  letter-spacing: 0.02rem;
  color: $color-principal;
  font-weight: 700;
}

.testimonials__container--carousel--slide--charge {
  font-size: 16px;
  font-style: italic;
  color: $color-form--title;
  line-height: 148.8%;
  margin-top: 10.5px;
}

.testimonials__indicators {
  margin-top: 20px;
}




/* ------------------------------------ MEDIA QUERIES ------------------------------------ */
@media screen and (max-width: 1366px) {
  .testimonials--text {
      padding: 0 322px;
  }
}


@media screen and (max-width: 1280px) {
  /* -------------------- TESTIMONIALS -------------------- */
  .testimonials--title {
    font-size: 26px;
  }
  .testimonials--text {
      padding: 0 279px;
  }
  .testimonials__container--carousel--slide--one {
      padding: 0 20px;
  }
  .testimonials__container--carousel--slide--two {
      padding: 0 24px;
  }
  .testimonials__container--carousel--slide--three {
      padding: 0 18px;
  }
  .testimonials__container--carousel--slide--four {
      padding: 0 43px;
  }
  .testimonials__container--carousel--slide--six {
      padding: 0 27px;
  }
  .testimonials__container--carousel--slide--seven {
      padding: 0 22px;
  }
  .testimonials__container--carousel--slide--eight {
      padding: 0 40px;
  }
  .testimonials__container--carousel--slide--nine {
      padding: 0 23px;
  }
}

@media screen and (max-width: 1152px) {
  /* -------------------- TESTIMONIALS -------------------- */
    .testimonials--title {
        font-size: 24px;
    }
    .testimonials--text {
        padding: 0 215px;
    }
    .testimonials__container--previous {
        left: -45px;
    }
    .testimonials__container--after {
        right: -45px;
    }
}

@media screen and (max-width: 1024px) {
  /* -------------------- TESTIMONIALS -------------------- */
    .testimonials {
        margin-top: 50px;
    }
    .testimonials--title {
        font-size: 22px;
    }
    .testimonials--text {
        padding: 0 121px;
        font-size: 17px;
    }
    .testimonials__container--carousel--slide--name {
        font-size: 19px;
    }
    
    .testimonials__container--carousel--slide--charge {
        font-size: 16px;
    }
}


@media screen and (max-width: 834px) {
  .testimonials--text {
    padding: 0 61px;
  }
}


@media screen and (max-width: 465px) {
  /* -------------------- TESTIMONIALS -------------------- */
    .testimonials {
        margin-top: 75px;
        padding: 0 15px;
    }
    .testimonials--title {
        font-size: 22px;
        line-height: 36px;
        padding: 0 30px;
        margin-bottom: 12px;
    }

    .testimonials__container {
        margin-top: 25px;
    }
    
    .testimonials--text {
        padding: 0 5px;
        font-size: 16px;
    }
    
    .testimonials__container--carousel--slide {
        padding: 30px 0;
    }
    
    .testimonials__container--after img, 
    .testimonials__container--previous img{
        width: 25px;
    }
    
    .testimonials__container--after img {
        right: 0;
    }
    .testimonials__container--previous img {
        left: 0;
    }
    
    .glider {
        overflow: unset;
        overflow-y: hidden !important;
    }

    .glider-track {
        padding-bottom: 20px;
    }

    .relacionados__padding {
      padding-bottom: 0;
    }
    
    .testimonials__container--previous,
    .testimonials__container--after {
        display: none;
    }
    
    .testimonials__container--carousel--slide {
        padding: 25px 0;
    }
    
    .testimonials__container--carousel--slide picture img {
        margin-bottom: 17px;
    }
    
    .testimonials__container--carousel--slide img {
        width: 160px;
        height: 35px;
        margin-bottom: 10px;
    }
    
    .testimonials__container--carousel--slide--testimonial {
        font-size: 15.5px;
        margin-bottom: 12px;
    }
    
    .testimonials__container--carousel--slide--name {
        font-size: 16px;
    }

    .testimonials__container--carousel--slide--charge {
        font-size: 15px;
        margin-top: 8px;
    }
    
    .testimonials__container--carousel--slide--one {
        padding: 0 19px;
    }
    
    .testimonials__container--carousel--slide--four {
        padding: 0 12px;
    }
    
    .testimonials__container--carousel--slide--five {
        padding: 0 6px;
    }
    
    .testimonials__container--carousel--slide--six {
        padding: 0 10px;
    }
    
    .testimonials__container--carousel--slide--eight {
        padding: 0 18px;
    }
    
    .testimonials__container--carousel--slide--nine {
        padding: 0 8px;
    }
    
    .testimonials__indicators {
        display: none;
    }
}

@media screen and (max-width: 425px) {
  /* -------------------- TESTIMONIALS -------------------- */
  .testimonials--title {
    font-size: 21px;
    padding: 0 18px;
  }

  .testimonials--text {
    padding: 0;
  }

  .testimonials__container--carousel--slide--testimonial {
    font-size: 15px;
  }

  .testimonials__container--carousel--slide--one {
    padding: 0 16px;
  }
  .testimonials__container--carousel--slide--two {
    padding: 0 12px;
  }
  .testimonials__container--carousel--slide--three {
    padding: 0 10px;
  }
  .testimonials__container--carousel--slide--four {
    padding: 0px 3px;
  }
  .testimonials__container--carousel--slide--five {
    padding: 0;
  }
  .testimonials__container--carousel--slide--six {
    padding: 0 8px;
  }
  .testimonials__container--carousel--slide--seven {
    padding: 0 13px;
  }
  .testimonials__container--carousel--slide--eight {
    padding: 0 7px;
  }
  .testimonials__container--carousel--slide--nine {
    padding: 0 15px;
  }
}

@media screen and (max-width: 375px) {
  /* -------------------- TESTIMONIALS -------------------- */
    .testimonials {
        margin: 65px 0 0 0;
    }

    .testimonials--title {
        font-size: 20px;
        padding: 0 2px;
        line-height: 34px;
    }
    
    .testimonials--text {
        font-size: 16px;
    }

    .testimonials__container--carousel--slide--testimonial {
      font-size: 15px;
    }
  
    .testimonials__container--carousel--slide--one {
      padding: 0 8px;
    }
    .testimonials__container--carousel--slide--two {
      padding: 0 8px;
    }
    .testimonials__container--carousel--slide--three {
      padding: 0 2px;
    }
    .testimonials__container--carousel--slide--four {
      padding: 0;
    }
    .testimonials__container--carousel--slide--five {
      padding: 0 8px;
    }
    .testimonials__container--carousel--slide--six {
      padding: 0;
    }
    .testimonials__container--carousel--slide--seven {
      padding: 0 5px;
    }
    .testimonials__container--carousel--slide--eight {
      padding: 0 6px;
    }
    .testimonials__container--carousel--slide--nine {
      padding: 0 7px;
    }
}

@media screen and (max-width: 360px) {
  .testimonials--text {
    font-size: 15px;
  }
}