footer.footer
    .footer__cont
        .social
            .suscribe__base
                .suscribe
                    ul.suscribe--style
                        li
                            a(href="") Suscribete a nuestras noticias
                        li
                            a(href=""): i.fa.fa-arrow-right
            .social--container
                ul 
                    li 
                        a(href="https://www.facebook.com/ecoestrategiaperuanaenvasesbiodegradables", target="_blank")
                            .circle-base
                                .circle-base.circle-secondary: i.fa-brands.fa-facebook-f
                    li
                        a(href="" target="_blank")
                            .circle-base
                                .circle-base.circle-secondary: i.fa-brands.fa-whatsapp
                    li 
                        a(href="https://www.instagram.com/ecoestrategiaperuanabio/" target="_blank")
                            .circle-base
                                .circle-base.circle-secondary: i.fa-brands.fa-instagram
                    li 
                        a(href="" target="_blank")
                            .circle-base
                                .circle-base.circle-secondary: i.fa-brands.fa-telegram
                    li
                        a(href="" target="_blank")
                            .circle-base
                                .circle-base.circle-secondary: i.fa-brands.fa-twitter 
        hr.frLine.frLine__f--t
        .container
            .container--style
                .footer__cont1
                    h3 CONTACTENOS 
                    ul
                        li.content-social
                            .circle-base
                                .circle-base.circle-secondary
                                    i.fa.fa-map-pin
                            a(href="") Av. Tomas Marsano 4666 
                                br
                                . 
                                    Santiago de Surco 
                                br 
                                . 
                                    Perú
                    ul 
                        li.content-social
                            .circle-base
                                .circle-base.circle-secondary
                                    i.fa.fa-warehouse
                            a(href="") Av. Ate, G - 16 (Urb. La Merced)
                                br
                                .
                                    Ate Vitarte
                                br
                                .
                                    Perú
                    ul 
                        li.content-social
                            .circle-base
                                .circle-base.circle-secondary
                                    i.fa.fa-phone-flip
                            a(href="") +51 952 526 242
                    ul 
                        li.content-social
                            .circle-base
                                .circle-base.circle-secondary
                                    i.fa-regular.fa-envelope
                            a(href="mailto:contacto@ecoestrategiaperuana.com", data-lang-type="content", data-lang="footer.email") contacto@ecoestrategiaperuana.com
                    .footer--info
                        p 
                hr.frLine.frLine__f--m
                .footer__cont2--base
                    .footer__cont2
                        h3 PRODUCTOS
                        ul 
                            li 
                                a(href="") Envases biodegradables
                            li
                                a(href="") Bowls de bambú
                            li
                                a(href="") Salseros biodegrdables 
                            li 
                                a(href="") Bolsas de papel kraft 
                            li 
                                a(href="") Cubiertos biodegradables 
                            li 
                                a(href="") Vasos para bebidas calientes 
                            li 
                                a(href="") Vasos para bebidas frías
                            li 
                                a(href="") Sorbetes biodegradables 
                    .footer__cont3
                        h3 RECURSOS 
                        ul 
                            li 
                                a(href="") Hojas informativas 
                            li 
                                a(href="") Preguntas frecuentes 
                    .footer__cont4
                        h3 COMPAÑIA 
                        ul 
                            li 
                                a(href="") Nuestro equipo
                            li 
                                a(href="") Políticas de privacidad y cookies
                            li 
                                a(href="") Términos y condiciones
                            li 
                                a(href="") Pedidos en línea
        hr.frLine.frLine__f--b
        .copyright__box.text-center
            a(href="https://ecoestrategiaperuana.com/") 
                img(src="images/logo/logo_oscuro.svg", alt="ecoestrategia peruana logo")
