header.menu
    nav.menu__container 
        a.menu__container--logo(href="index.html")
            img.menu__container--logo(src="images/logo/phone/logo_blanco_ecoestrategia_peruana.png", alt="Logo Oficial de Eco Estrategia Peruana")
        span#nurger__menu.menu__container--burger
        nav#slideMenu.menu__container--slide--main