.productos__container
    .productos__container--list 
        .productos__container--list--title
            h2 Categorias
        .productos__container--list--m
    .productos__container--products
        .productos__container--products--description
            img(src="", alt="")
            .productos__container--products--description--text
                h2 Envases biodegradables
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit doloribus, aliquam voluptas sit nesciunt ipsa dolorem laborum quisquam voluptate maxime! Neque aut nam illo rerum sequi unde architecto deleniti ea.
        .productos__container--products--description__container
            .productos__container--products--description__container-t
                h2 Envases biodegradables
                p Envases blancos de doble pared nuevos a estrenar. Elegante por excelencia. Clásicos modernos.
            .productos__container--products--description__container-l
                .products__list.products__list--1
                    .products__list--img
                        img(src="", alt="")
                    .products__list--text
                        h3 Envases biodegradables de caña de azúcar CT4
                        p CODE: EP003
                        .products__list--text--stock
                            i.fa-solid.fa-circle-check 
                            p Stock Disponible
                    .products__list--p-b
                        .products__list--price
                            p S/. 66.67
                        .products__list--button
                            a(href="")
                                i.fa-solid.fa-arrow-right
                hr.line.line__products--list
                .products__list.products__list--2
                .line.line__products--list
                .products__list.products__list--3
                .line.line__products--list
                .products__list.products__list--4
                .line.line__products--list
