//- Google Tag Manager 
script. 
    (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-W9F6BWW');
//- Organization
script(type="application/ld+json").
    {
            "@context": "https://schema.org",
            "@type": "Organization",
            "name": "Eco Estrategia Peruana",
            "url": "https://ecoecoestrategiaperuana.com",
            "logo": "https://ecoecoestrategiaperuana.com/images/landings/contenedores/desktop/logo-estrategia.webp",
            "description": "Eco Estrategia Peruana es una empresa dedicada a la comercializacion y distribución de Envases y Descartables Biodegradables en Lima y Perú. Impulsamos un consumo responsable a través de productos y envases 100% ecológicos.",
            "legalName": "Eco Estrategia Peruana E.I.R.L",
            "email": "contacto@ecoestrategiaperuana.com",
            "founders": [{
                    "@type": "Person",
                    "name": "Cristopher Guerrero Mendoza"
                },
                {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                }
            ],
            "foundingDate": "2020-07-07",
            "slogan": "Sé el cambio que quieres ver en el mundo",
            "address": {
                "@type": "PostalAddress",
                "addressLocality": "Chorrillos Lima, Perú",
                "postalCode": "15067",
                "streetAddress": "Calle N Lote 15b Los Incas Chorrillos"
            },
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+51 952 526 242",
                "contactType": "customer service",
                "contactOption": "TollFree",
                "areaServed": "PE",
                "availableLanguage": "es"
            },
            "location": "Calle N Lote 15b Los Incas Chorrillos",
            "sameAs": [
                "https://www.facebook.com/ecoestrategiaperuanaenvasesbiodegradables",
                "https://www.instagram.com/ecoestrategiaperuana",
                "https://ecoecoestrategiaperuana.com"
            ]
            }
//- Datos estructurados Breadcrumbs
script(type="application/ld+json"). 
    {
            "@context": "http://schema.org",
            "@type": "BreadcrumbList",
            "name": "Envases Biodegradables Perú",
            "numberOfItems": 1,
            "itemListOrder": "ItemListOrderDescending",
            "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://ecoestrategiaperuana.com/",
                "name": "Eco Estrategia Peruana: Envases Biodegradables Perú"
            },
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "name": "Home",
                    "@id": "https://ecoestrategiaperuana.com/"
                }
            }]
            }
        //- Licensed Images
        script(type="application/ld+json").
            [{
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/logo-ecoestrategia-peruana-web.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "logo eco estrategia peruana, eco estrategia peruana, estrategia peruana, logo web eco estrategia peruana",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/envases-biodegradables-eco-estrategia-peruana.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "envases biodegradables, eco estrategia peruana, descartables biodegradables, envases bagazo caña de azucar, envases biodegradables para alimentos",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/descartables-biodegradables-eco-estrategia-peruana.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "descartables biodegradables, envases biodegradables, envases caña de azucar, envases biodegradables para alimentos, descartables compostables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bolsas-de-papel-kraft-eco-estrategia-peruana.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bolsas biodegradables de papel kraft, bolsas de papel kraft, bolsas biodegradables, bolsas de papel kraft personalizables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bowls-de-bambu-eco-estrategia-peruana.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bowls biodegradables de bambu, bowls biodegradables, bowls soperos de bambu, bowls bambu, bowls peru",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/productos-biodegradables-eco-estrategia-peruana.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "descartables biodegradables, productos biodegradables, envases biodegradables al por mayor descartables compostables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bowls-biodegradables-eco-estrategia-peruana.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bowls biodegradables, bowls biodegradables eco estrategia peruana, bowls de bambu estrategia peruana, bowls soperos eco estrategia peruana",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bolsas-kraft-personalizadas.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bolsas de papel kraft personalizadas, bolsas kraft personalizadas, bolsas biodegradables de papel kraft",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/envase-biodegradable-personalizado.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "envases biodegradables personalizados, envases caña de azucar con logo, envases biodegradables con logo, envases descartables personalizados",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bowl-de-bambu-personalizado.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bowls biodegradables con logo, bowls de bambu personalizados, bowls soperos de bambu con logo, bowls biodegradables de bambu con logo",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/envases_biodegradables.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "envases biodegradables, envases biodegradables eco estrategia peruana, envases caña de azucar, envases fecula de maiz, envases descartables biodegradables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/vasos-frios-biodegradables.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "vasos biodegradables para bebidas frías, vasos biodegradables, vasos compostables, vasos de bambú, vasos biodegradables de bambu",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/envases-biodegradables-para-menu.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "envases biodegradables para menu, envases biodegradables para pollo, envases biodegradables para alimentos, envases descartables, envases para menu",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bowls-biodegradables-de-bambu.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bowls biodegradables de bambu, bowls soperos biodegradables, bowls compostables, bowls soperos, bowls tapa hermetica, bowls de bambu",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/vasos-biodegradables-para-bebidas-calientes.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "vasos biodegradables para bebidas calientes, vasos biodegradables de bambu, vasos biodegradables para cafe, vasos biodegradables 14oz",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bowls-soperos-biodegradables.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bowls soperos biodegradables, bowls compostables de bambu, bowl sopero de bambu, bowl 16oz, bowls para sopas",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/envases-biodegradables-para-hamburguesa.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "envases biodegradables para hamburguesa, envases hamburguesa biodegradable, envases para sanguches, envases biodegradables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/sorbetes-de-papel-biodegradable.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "sorbetes biodegradables, sorbetes y cañas de papel biodegradable, sorbetes de papel biodegradable, sorbetes vip, sorbetes compostables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bolsas-biodegradables-de-papel-kraft.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bolsas biodegradables de papel kraft, bolsas biodegradables, bolsas de papel kraft biodegradable, bolsas kraft de pulpa de madera",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/vasos-biodegradables-frios.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "vasos biodegradables para bebidas frias, vasos de fecula de maiz, vasos starbucks, vasos para bebidas frias",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/cubiertos-biodegradables-descartables.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "cubiertos biodegradables, tenedores biodegradables, cucharas biodegradables, cubiertos descartables, cubiertos compostables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/bolsas-biodegradables-de-papel-kraft-con-asa.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "bolsas biodegradables de papel kraft con asa, bolsas kraft con asa, bolsas biodegradables con asa, bolsas compostables descartables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/vasos-corrugados-biodegradables.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "vasos corrugados biodegradables, vasos biodegradables para cafe corrugados, vasos corrugados para bebidas calientes, vasos calientes corrugados",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/vasos-biodegradables-para-cafe.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "vasos biodegradables para cafe, vasos planet para bebidas calientes, vasos de carton biodegradable, vasos para bebidas calientes 12oz, vasos biodegradables de carton",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/post-eco-estrategia-1.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "instagram eco estrategia peruana, facebook eco estrategia peruana, descartables biodegradables, envases biodegradables, envases descartables biodegradables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/post-eco-estrategia-3.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "instagram eco estrategia peruana, facebook eco estrategia peruana, bowls biodegradables de bambu, bowls soperos biodegradables, bowls biodegradables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/post-eco-estrategia-2.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "instagram eco estrategia peruana, facebook eco estrategia peruana, bolsas biodegradables de papel kraft, bolsas kraft eco estrategia peruana, bolsas biodegradables",
                "sdDatePublished": "2021-02-07"
            },
            {
                "@context": "https://schema.org/",
                "@type": "ImageObject",
                "contentUrl": "https://ecoestrategiaperuana.com/images/post-eco-estrategia-2.webp",
                "license": "https://ecoestrategiaperuana.com/licencias.html",
                "acquireLicensePage": "https://ecoestrategiaperuana.com/adquirir-licencia.html",
                "copyrightHolder": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana"
                },
                "copyrightYear": "2021",
                "creator": {
                    "@type": "Organization",
                    "name": "Eco Estrategia Peruana",
                    "sameAs": "https://ecoestrategiaperuana.com"
                },
                "editor": {
                    "@type": "Person",
                    "name": "Jean Paul Matos"
                },
                "keywords": "instagram eco estrategia peruana, facebook eco estrategia peruana, vasos descartables para bebidas calientes, vasos biodegradables, vasos para bebidas frias biodegradables, vasos para bebidas calientes biodegradables",
                "sdDatePublished": "2021-02-07"
            }
            ]