.n-container
            input(type="checkbox", id="btn-more")
            .cperson
                a.wsp__button.wsp__button--1(href="https://api.whatsapp.com/send?phone=51952526242&text=Hola,%20me%20gustar%c3%ada%20cotizar", target="_blank")
                    i.fa-solid.fa-user-tie 
            .btn-more: label.fab.fa-whatsapp(for="btn-more")