include ../mixins/mixins-bowls.pug
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Eco Estrategia Peruana: EP750
        meta(property='og:type', content='website')
        meta(name='twitter:description', content='Empresa de empaques y envases biodegradables de caña de azúcar para alimentos en Perú. Cotiza tus tapers descartables ecológicos al mejor precio')
        meta(property='og:image', content='../assets/img/logo_blanco.png')
        meta(name='description', content='Empresa de empaques y envases biodegradables de caña de azúcar para alimentos en Perú. Cotiza tus tapers descartables ecológicos al mejor precio.')
        meta(name='twitter:title', content='Eco Estrategia Peruana')
        meta(name='twitter:card', content='summary')
        meta(name='twitter:image', content='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='575x89', href='../assets/img/logo_blanco.png')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
        link(rel='manifest', href='manifest.json')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora&amp;display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins&amp;display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
        link(rel='stylesheet', href='../assets/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    body
        include ../template/nav__bottom.pug
        include ../template/header.pug
        +productsView('catalogo', 'Bowl de bambú', 'Bowls ecológicos 750ml', '../assets/img/EP001.jpg', '../assets/img/EP001.jpg', '../assets/img/EP003.jpg', '../assets/img/EP003.jpg', '../assets/img/EP003.jpg', 'Envases para Ensaladas de Frutas de Bambú Biodegradable 750ml', 'EP750', ' Stock disponible', ' The ultimate eco double wall hot cup. Fits Vegwares 79-Series lids. For coffee, tea and all hot drinks, or soup to go. Two layers of sustainable board with a plant-based PLA lining. Crisp white, with Vegware messaging in green. Award-winning quality by Vegware, made from plants. Commercially compostable where accepted.', 'S/. 131.88', 'Und.100', 'Cotiza tus envases para ensaladas de frutas de bambú biodegradable al mejor precio en Perú. Descubre bowls ecológicos para helados y sopas envases para ensaladas frescas', ' Bowls de bambú', ' 12.2cm x 7.2cm x 14.4cm', ' Bambú biodegradable + tapa hermética', 'Fabricado a base de la pulpa de bambú biodegradable', ' 500 unidades', ' 50 unidades', ' 12.2cm', ' 7.2cm', ' 14.4cm', ' 28gr.', ' Fríos y calientes', ' Beige', 'Ideal para: Ensaladas, comida marina, frutas y otros', 'Apto para comidas frías y calientes', 'Tiempo de compostaje de 90 días', 'Estructura resistente a altas temperaturas', 'Resistencia al microondas y al horno convencional', 'Envases para ensaladas de frutas biodegradables', 'Bowls Biodegradables que se convierten en abono para plantas', 'Ejemplo de sostenibilidad y responsabilidad social para tus clientes', 'En Eco Estrategia Peruana te brindamos una garantía de 14 días por la compra de tus envases para ensaladas de frutas', 'conocidoComo', 'Otros contenedores ecológicos', '../assets/img/EP001.jpg', ' Bowls de bambú', 'EP-S8', 'Envases para Ensaladas ideales para entradas, postres, mazamorra y platos de fondo en Perú.', '../assets/img/EP001.jpg', 'Bowls de bambú', 'EP-S16', 'Empaques para Ensaladas de Frutas de bambú al mejor precio y con un tiempo de compostaje en 90 días', '../assets/img/EP001.jpg', 'Bowls de bambú', 'EP-S32', 'Envases Biodegradables para Ensaladas con variedad de medidas y modelos al por mayor y por menor')
        include ../template/footer.pug
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        script(src='../assets/js/script.min.js')