include ../mixins/mixins-envases.pug
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Eco Estrategia Peruana: Envases biodegradables CT4
        meta(property='og:type', content='website')
        meta(name='twitter:description', content='Empresa de empaques y envases biodegradables de caña de azúcar para alimentos en Perú. Cotiza tus tapers descartables ecológicos al mejor precio')
        meta(property='og:image', content='../assets/img/logo_blanco.png')
        meta(name='description', content='Empresa de empaques y envases biodegradables de caña de azúcar para alimentos en Perú. Cotiza tus tapers descartables ecológicos al mejor precio.')
        meta(name='twitter:title', content='Eco Estrategia Peruana')
        meta(name='twitter:card', content='summary')
        meta(name='twitter:image', content='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='575x89', href='../assets/img/logo_blanco.png')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
        link(rel='manifest', href='manifest.json')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora&amp;display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins&amp;display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
        link(rel='stylesheet', href='../assets/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    body
        include ../template/nav__bottom.pug
        include ../template/header.pug
        +productsView('catalogo', 'Envases biodegradables', 'Envases biodegradables CT4', '../assets/img/EP001.jpg', '../assets/img/EP001.jpg', '../assets/img/EP003.jpg', '../assets/img/EP003.jpg', '../assets/img/EP003.jpg', 'Envase biodegradable ecológico CT4', 'EP003', ' Stock disponible', ' The ultimate eco double wall hot cup. Fits Vegwares 79-Series lids. For coffee, tea and all hot drinks, or soup to go. Two layers of sustainable board with a plant-based PLA lining. Crisp white, with Vegware messaging in green. Award-winning quality by Vegware, made from plants. Commercially compostable where accepted.', 'S/. 57.13', 'Und.100', 'Descubre y cotiza hoy tus tapers biodegradables de caña de azúcar para porciones de torta y comida. Descubre envases y empaques para postres y hamburguesas descartables en Perú', ' Envases biodegradables', ' 15 x 15 cm.', ' Fibra de caña de azúcar', ' Fabricado a base del bagazo de caña de azúcar', ' 500 unidades', ' 50 unidades', ' 148.3 mm', ' 148.3mm', ' 69.3mm', ' 500 ml.', ' Fríos y calientes', ' Blanco', 'Ideal para papas, hamburguesas, sándwiches, tortas y más', 'Apto para comidas frías y calientes', 'Tiempo de compostaje de 90 días', 'Mantiene el sabor y aroma de los alimentos', 'Resistencia al microondas y al horno convencional', 'Envases biodegradables a base de celulosa de caña de azúcar', 'Empaques descartables que se convierte en abono para plantas', 'Ejemplo de sostenibilidad y responsabilidad social para tus clientes', 'En Eco Estrategia Peruana te brindamos una garantía de 14 días por la compra de tus envases descartables para comida', 'Taper biodegradable de caña de azúcar para porciones de torta CT4, taper compostable CT4, taper descartable CT4, taper desechable CT4', 'Otros contenedores ecológicos', '../assets/img/EP001.jpg', ' Envases biodegradables', '../Categorias/envases-biodegradables.html', 'EP06', 'Envases descartables para delivery ideales para menú, papas, hamburguesas, parrillas en Lima y Perú.', '../assets/img/productos/bowls-bambu/mini-categorias/EP-S16.avif', 'Bowls de bambú', '../Categorias/bowls-bambu.html', 'EP-S16', 'Bowls ecológicos de bambú ideales para ensaladas, comida marina, frutas y postres en Perú.', '../assets/img/productos/bandejas-biodegradables/mini-categorias/EP-K900.avif', 'Bandejas biodegradables', '../Categorias/bandejas-biodegradables.html', 'EP-S32', 'Opta por una alternativa Eco Amigable y cotiza tus empaques descartables para delivery al mejor precio')
        include ../template/footer.pug
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        script(src='../assets/js/script.min.js')