include ../mixins/mixins-sorbetes.pug
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title Eco Estrategia Peruana: EP-ER06
        meta(property='og:type', content='website')
        meta(name='twitter:description', content='Empresa de empaques y envases biodegradables de caña de azúcar para alimentos en Perú. Cotiza tus tapers descartables ecológicos al mejor precio')
        meta(property='og:image', content='../assets/img/logo_blanco.png')
        meta(name='description', content='Empresa de empaques y envases biodegradables de caña de azúcar para alimentos en Perú. Cotiza tus tapers descartables ecológicos al mejor precio.')
        meta(name='twitter:title', content='Eco Estrategia Peruana')
        meta(name='twitter:card', content='summary')
        meta(name='twitter:image', content='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='91x92', href='../assets/img/Icono_Eco_Estrategía_Peruana.png')
        link(rel='icon', type='image/png', sizes='575x89', href='../assets/img/logo_blanco.png')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css')
        link(rel='manifest', href='manifest.json')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lora&amp;display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Poppins&amp;display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700&amp;display=swap')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.12.0/css/all.css')
        link(rel='stylesheet', href='../assets/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='https://pro.fontawesome.com/releases/v5.10.0/css/all.css')
    body
        include ../template/nav__bottom.pug
        include ../template/header.pug
        +productsView('catalogo', 'Sorbetes biodegradables', 'Sorbetes biodegradables EP-ER06', '../assets/img/EP001.jpg', '../assets/img/EP001.jpg', '../assets/img/EP003.jpg', '../assets/img/EP003.jpg', '../assets/img/EP003.jpg', 'Sorbetes cañitas biodegradables 6mm', 'EP-ER06', ' Stock disponible', ' The ultimate eco double wall hot cup. Fits Vegwares 79-Series lids. For coffee, tea and all hot drinks, or soup to go. Two layers of sustainable board with a plant-based PLA lining. Crisp white, with Vegware messaging in green. Award-winning quality by Vegware, made from plants. Commercially compostable where accepted.', 'S/. 76.06', 'Und.1000', 'Cotiza nuestros sorbetes y cañitas biodegradables ecológicos 6mm al por mayor y menor en Lima y Perú', ' Sorbetes biodegradables', ' 6mm', ' Sorbetes biodegradable', 'Fabricado de cañas de papel estándar compostable', ' Unid. 1000', ' fríos y calientes', ' blanco', 'Ideal para bebidas, gaseosas, jugos, malteadas y más', 'Apto para comidas frías y calientes', 'Ayudan a reducir la huella de carbono y la contaminación', 'Impulsa el Consumo Sostenible en tu Negocio', '100% Biodegradable y Compostable', 'Se convierte en abono para plantas', 'Ejemplo de sostenibilidad y responsabilidad social para tus clientes', 'Sorbetes biodegradable y resistentes de alta calidad', 'En Eco Estrategia Peruana te brindamos una garantía de 14 días por la compra de tus sorbetes biodegradables ecológicos','conocidocomo', 'Otros productos biodegradables', '../assets/img/EP001.jpg', 'Salseros biodegradables', 'EP02', 'Ajiceros Biodegradables de bagazo de caña de azúcar, ideales para ajíes, cremas y salsas en Perú.', '../assets/img/EP001.jpg', 'Salseros biodegradables', 'EP04', 'Ajiceros descartables de fibra de caña con variedad de medidas y modelos al por mayor y por menor', '../assets/img/EP001.jpg', 'Salseros biodegradables', 'EP-2PP', 'Opta por una alternativa Eco Amigable y cotiza tus salseros reciclables al mejor precio')
        include ../template/footer.pug
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')
        script(src='../assets/js/script.min.js')