@media screen and (min-width: 0px) {

  .ambiente {
    margin: 50px 15px;
  
    &--title {
      @extend .title;
      text-align: initial;
    }
  
    &__container {
  
      &--swiper {
  
        &--wrapper {
          padding-bottom: 60px;
  
  
          &--slide {
  
            &--note {
  
              &--container {
                margin-top: 20px;
  
                &--category {
                  @extend .category;
                }
  
                &--title {
                  @extend .article-title;
                }
  
                &--minutes {
                  @extend .note-container;
                  margin-top: 0;
  
                  &--link {
                    @extend .note;
                  }
  
                  &--wrapp {
                    @extend .time-container;
  
                    &--img {
                      padding-top: 3px
                    }
  
                    &--span {
                      @extend .time;
                    }
  
                  }
  
                }
  
              }
  
            }

            &--img {

              img {
                border-radius: 8px;
              }

            }
  
          }

          &--secret {

            &--title {
              display: none;
            }

          }
  
        }
  
        &--next:after {
          content: url(../../images/noticias/360/arrow-right.svg);
        }
  
        &--prev:after {
          content: url(../../images/noticias/360/arrow-left.svg);
        }
  
        &--next,
        &--prev {
          top: 97%;
        }
  
        &--pagination {
          width: unset;
          left: 44%;
          font-family: $fuente2;
          font-size: 19px;
          bottom: 8px;
          letter-spacing: 0.05rem;
          color: $color-titulo;
          font-weight: 700;
        }
  
  
      }
  
    }
  
  }
  
  // .swiper-button-prev {
  //   left: 22%;
  // }
  
  // .swiper-button-next {
  //   right: 22%;
  // }

}


@media screen and (min-width: 375px) {

  .ambiente {

    &--title {
      font-size: 22px;
    }

    &__container {

      &--swiper {

        &--next:after {
          content: url(../../images/noticias/375/arrow-right.svg);
        }
  
        &--prev:after {
          content: url(../../images/noticias/375/arrow-left.svg);
        }

      }

    }

  }

}

@media screen and (min-width: 768px) {

  .ambiente {
    margin: 50px 30px;

    &--title {
      font-size: 28px;
      margin: 12px 0 22px;
      display: none;
    }

    &__container {

      &--swiper {


        &--wrapper {

          &--slide {

            &--note {

              &--container {

                &--category {
                  font-size: 16px;
                }

                &--title {
                  font-size: 24px;
                  line-height: 35px;
                }

              }

            }

          }

          &--secret {
            
            &--title {
              display: block;
              font-size: 24px;
              margin: 12px 0 22px;
              font-family: $fuente1;
              color: $color-titulo;
              font-weight: 700;
              line-height: 32px;
              letter-spacing: 0.02rem;
            }

            &--none {

              &--pagination {
                bottom: 93%;
                left: 85.5%;
                font-size: 20px;
              }

              &--buttons {

                &--none {
                  top: 5.3%;

                  &--next {
                    left: 95%;
                  }

                  &--prev {
                    left: 77.5%;
                  }

                }

              }

            }

          }


        }


        

      }

    }

    &--none {
      display: none;
    }

  }

}



@media screen and (min-width: 1152px) {

  .ambiente {

    &__container {

      &--swiper {

        &--wrapper {

          &--secret {

            &--title {
              font-size: 26px;
            }

            &--none {

              &--buttons {

                &--none {

                  &--next {
                    left: 97%;
                  }
                  
                  &--prev {
                    left: 84%;
                  }
                }

              }

              &--pagination {

                left: 90%;

              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 1280px) {

  .ambiente {

    &__container {

      &--swiper {

        &--wrapper {

          &--secret {

            &--none {

              &--buttons {

                &--none {

                  
                  &--prev {
                    left: 84.5%;
                  }
                }

              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 1360px) {

  .ambiente {
    margin: 0px 89px 60px;

    &__container {

      &--swiper {

        &--wrapper {
          padding: 0;

          &--secret {

            &--title {
              font-size: 28px;
              margin: 0 0 30px;
            }

            &--none {

              &--buttons {

                &--none {
                  top: 4.8%;
                }

              }

              &--pagination {
                bottom: 93.7%;
              }
              
            }

          }

          &--slide {

            &--note {

              &--container {

                &--title {
                  font-size: 25px;
                  line-height: 37px;
                }

                &--minutes {

                  &--link {
                    font-size: 18px;
                  }

                  &--wrapp {

                    &--img {
                      width: 24px;
                      height: 24px;
                      padding-top: 1px;
                    }

                    &--span {
                      font-size: 17px;
                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}