@media screen and (min-width: 0px) {

  .categorias {
  

    &--title {
      @extend .title;
      text-align: initial;
      margin: 0 15px 15px;
    }
  
    &__container {
      overflow: hidden;
      padding: 0 15px;
  
      &--swiper {
  
        &--wrapper {
  
          &--slide {
  
            
            &--img {
              position: relative;
  
              img {
                border-radius: 12px;
              }
            }
  
            &--title {
              position: absolute;
              @extend .categoria-title;
  
              &--two {
                padding: 0 31px;
              }
  
            }
  
            &--logo {
  
              img {
                position: absolute;
                @extend .categoria-logo;
              }
            }
  
          }
  
        }
  
      }
  
    }
  
  }

}

@media screen and (min-width: 375px) {

  .categorias {

    &--title {
      font-size: 22px;
    }

    &__container {

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              padding: 0 13px;

              &--two {
                padding: 0 38px;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 414px) {

  .categorias {

    &__container {

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              font-size: 22px;
              padding: 0 32px;
              right: 1%;

              &--two {
                padding: 0 58px;
              }

            }

            &--logo {

              img {
                right: 46%;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 435px) {

  .categorias {

    &__container {

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              right: 4%;

            }

            &--logo {

              img {
                right: 48%;
              }

            }

          }

        }

      }

    }

  }

}


@media screen and (min-width: 768px) {

  .categorias {

    &--title {
      font-size: 24px;
    }

    &__container {

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              font-size: 27px;
              line-height: 40px;
              padding: 0 60px;
              right: 1%;

              &--two {
                padding: 0 74px;
              }

            }

            &--logo {

              img {
                right: 46%;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 834px) {

  .categorias {

    &--title {
      font-size: 24px;
    }

    &__container {

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              font-size: 26px;
              line-height: 38px;
              padding: 0 41px;
              right: -2%;
              top: 57%;

              &--two {
                padding: 0 71px;
              }

            }

            &--logo {

              img {
                right: 46%;
                top: 84%;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 1024px) {

  .categorias {

    &--title {
      font-size: 24px;
      margin: 0 30px 15px;
    }

    &__container {

    padding: 0 30px;

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              font-size: 28px;
              line-height: 40px;
              padding: 0 66px;
              right: 0%;
              top: 62%;

              &--two {
                padding: 0 97px;
              }

            }

            &--logo {

              img {
                right: 46%;
                top: 87%;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 1152px) {

  .categorias {

    &--title {
      font-size: 26px;
      margin: 0 30px 15px;
    }

    &__container {

    padding: 0 30px;

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              font-size: 26px;
              line-height: 38px;
              padding: 0 39px;
              right: 0%;
              top: 57%;

              &--two {
                padding: 0 67px;
              }

            }

            &--logo {

              img {
                right: 45%;
                top: 85%;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 1360px) {

  .categorias {

    &--title {
      font-size: 26px;
      margin: 0 89px 15px;
    }

    &__container {

    padding: 0 89px;

      &--swiper {

        &--wrapper {

          &--slide {

            &--title {
              font-size: 28px;
              line-height: 40px;
              padding: 0 46px;
              right: 2%;
              top: 58%;

              &--two {
                padding: 0 77px;
              }

            }

            &--logo {

              img {
                right: 46%;
                top: 85%;
              }

            }

          }

        }

      }

    }

  }

}

@media screen and (min-width: 1800px) {

  .categorias {
    display: none;
  }

}