$fuente1 : 'Open Sans', system-ui;
$fuente2: 'Lato', system-ui;
$color-titulo: #2F2D2D;
$color-texto: #37474F;
$color-blanco: #FFFFFF;
$color-verde: #4B9111;
$color-verde-oscuro: #27b526;
$color-verde-opaco: #154c00;
$color-secundario: #41A318;
$color-verde-background: #02a200;
$color-footer: #181b32;
$color-input: #777;
$color-placeholder: #868686;
$color-subrayado: #D2D2D2;
$color-principal : #4B9111;
$color-form--title: #6F6F6F;
$color-product-background: rgba(243, 243, 243, 0.75);
$color-product--title: #BBB9AB;
$color-product--feature: #C4C4B7;
$color--product--hover: #6AD628;
$color-icon-movil: #888888;
$background-header: #F1F1F1;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', system-ui;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.subtitle {
  font-family: $fuente1;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02rem;
  color: $color-titulo;

  span {
    color: $color-verde;
    padding: 0;
    margin: 0;
  }

}

.subtext {
  font-family: $fuente2;
  font-size: 18px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02rem;
  color: $color-texto;
}

.button {
  background-color: $color-verde;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;

  img {
    width: 20px;
    margin-right: 15px;
  }

  p {
    color: $color-blanco;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;

  }

}

.cta {
  @extend .button;
  margin-top: 44px;
  border-radius: 6px;
  padding: 10px 25px;

  img {
    width: 17px;
    margin-right: 12px;
  }

  p {
    font-size: 19px;
  }
}


.iconShadow {
  filter: drop-shadow(0px 2px 0px rgba(0,0,0,0.45));
}

.space {
  margin-bottom: 6rem;
}



// ----------------- ESTILOS NOTICIAS ---------------------- //
@media screen and (min-width: 0px) {
  .main-news {
    font-family: $fuente2;
    font-size: 16px;
    font-weight: 700;
    color: $color-verde;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02rem;
  }

  .title {
    font-family: $fuente1;
    font-size: 21px;
    color: $color-titulo;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02rem;
    text-align: center;
    margin: 12px 0 15px;
  }
  .text {
    font-family: $fuente2;
    color: $color-texto;
    text-align: center;
    letter-spacing: 0.02rem;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    padding: 0 14px;
  }
  .category {
    font-family: $fuente2;
    font-size: 15px;
    background-color: rgba(127, 212, 75, 0.2);;
    color: $color-verde;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.02rem;
    padding: 5px 10px;
    border-radius: 6px;
    display: inline-block;
  }
  .article-title {
    font-family: $fuente1;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02rem;
    color: $color-titulo;
    padding: 10px 0;
  }

  .note-container {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 10px;
  }

  .time-container {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .note {
    font-family: $fuente2;
    font-weight: 700;
    font-size: 17px;
    line-height: 31px;
    letter-spacing: 0.02rem;
    color: $color-verde;
  }

  .time {
    font-family: $fuente2;
    color: $color-titulo;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.02rem;
  }

  .categoria-title {
    font-family: $fuente1;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.05rem;
    color: $color-blanco;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.32);
    padding: 0 15px;
    text-align: center;
    top: 59%;
  }

  .categoria-logo {
    top: 86%;
    right: 44%;
  }


  // ----------------- ESTILOS ARTICLES ---------------------- //
  .info-article {
    font-family: $fuente2;
    color: $color-titulo;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.02rem;
  }
  
  .indice {
    font-family: $fuente2;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.02rem;
    color: $color-titulo;
  }
  .keyword {
    font-weight: 700;
    color: $color-titulo;
  }
  .enlace {
    font-weight: 700;
    color: $color-verde;
  }
  .head-two {
    font-family: $fuente1;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.02rem;
    color: $color-titulo;
    font-size: 21px;
    margin-top: 35px;
  }
  .head-three {
    font-family: $fuente1;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02rem;
    color: $color-titulo;
    font-size: 20px;
  }
}